%h5.danger * Все поля являются обязательными
%br/
= bootstrap_form_for([:dashboard, @partner]) do |f|
  .row
    .col-xs-12.col-sm-6
      = f.text_field :title, label: 'Название'
    .col-xs-12.col-sm-6
      = f.text_field :link, label: "Ссылка"
  .row
    .col-xs-12.col-sm-4
      = f.select :position, ["Вверху", "Внизу", "Справа"], label: "Позиция"
    .col-xs-12.col-sm-4
      = f.select :page, grouped_options_for_select(page_grouped_options), class: "form-control",include_blank: true , label: "Страница"
    .col-xs-12.col-sm-4
      = f.file_field :image, label: "Банер"
    -#   = form_state_select(f)

  = f.submit "Сохранить", id: "details-save-btn", class: "btn mobile-btn"
