%tr
  %td= link_to partner.title, dashboard_partner_path(partner)
  %td.text-center
    - if partner.active?
      Активно
    - else
      = link_to "Активировать", new_dashboard_partner_charge_path(partner)
  %td.text-center= partner.start_date
  %td.text-center= partner.active_until
  %td.text-center= partner.position
  %td.text-center= partner.page
  %td.text-center= link_to 'Удалить',
            dashboard_partner_path(partner),
            method: :delete,
            data: { confirm: I18n.t(:confirm) },
            class: "mobile-btn btn-danger"
