/ Descktop
.hidden-xs
  %nav.navbar.navbar-default.secondary-navbar.white
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{ "aria-expanded" => "false",
                                         "data-target" => "#dashboard-nav-bar",
                                         "data-toggle" => "collapse",
                                         :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to main_app.questions_path do
          = image_tag "logos/ezanswer", class: "img-responsive", id: 'brand-image'
      / Collect the nav links, forms, and other content for toggling
      #dashboard-nav-bar.collapse.navbar-collapse
        %form.navbar-form.navbar-left{:role => "search", method: "get", action: questions_path}
          .input-group.qa-search
            %input.q-search.form-control{:placeholder => "Поиск вопросов по ключевым словам",
              :type => "text", name: "keyword", value: params[:keyword]}
              %span.input-group-btn
                = submit_tag 'Искать', class: "button btn btn-default", name: nil
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Неотвеченные", unanswered_questions_path
          %li= link_to "Спросить", new_question_path

/ Mobile
.visible-xs.col-xs-12
  %form.navbar-form.navbar-left{:role => "search", method: "get", action: questions_path}
    .input-group
      %input.q-search.form-control{:placeholder => "Поиск вопросов по ключевым словам",
        :type => "text", name: "keyword", value: params[:keyword]}
        %span.input-group-btn
          = submit_tag 'Искать', class: "button btn btn-default", name: nil

