.row.white-block
  / line 1  title and User
  .col-xs-12
    %h1.question-title
      = link_to question.title, question, target: "_blank"
    .row
      .col-xs-12
        -if question.avatar.present?
          .hidden-xs.col-sm-1.qa-avatar
            = image_tag question.avatar, alt: question.username,  class: "img-responsive img-circle center-block"
        .col-xs-12.col-sm-11
          %h3.text-muted.question-author
            = question.username
            = ", #{question.userslug}" if question.userslug.present?
          %p= "#{question.impressions_count} просмотров, #{question.answers.count} ответов"

  / line 2 question text
  .col-xs-12
    %p.text
      = strip_tags(question.text_to_show).truncate(200)
      - if strip_tags(question.text_to_show).size > 200
        = link_to "читать дальше", question, target: "_blank"
  .col-xs-12
    %p= tag_links(question)
%br/
