.row
  .white-block#tag_cloud
    .panel.panel-default.home-panel
      .panel-body
        - tag_cloud Question.tag_counts.sort_by(&:name), %w[s m l] do |tag, css_class|
          %span= link_to "##{tag.name}", tag_path(tag), class: "tag-in-cloud #{css_class}"

  - if @unanswered.try(:any?)
    .white-block
      %h4.text-center.text-muted Требующие ответа
      - @unanswered.map do |q|
        .panel.panel-default.home-panel
          .panel-body
            %h2.q-title= link_to q.title, q, target: "_blank"
            %span #{q.impressions_count} просмотров,
            %span #{q.answers_count} ответов
