= title("Полезная информация о русских в америке, все, что нужно знать - ezpoisk")
= desc("EZANSWER - здесь можно находить полезную информацию, спрашить и делиться своим мнением, получать качетвенные ответы на любые вопросы")

- content_for :secondary_navbar do
  = render "questions/navbar"

- content_for :side do
  .text-center
    = link_to "СПРОСИТЬ", new_question_path, class: "btn btn-lg btn-warning btn-ez"
    %br/
    %br/
  .col-xs-12.white-block#tag_cloud
    .panel.panel-default.home-panel
      .panel-body
        - tag_cloud Question.tag_counts.sort_by(&:name), %w[s m l] do |tag, css_class|
          %span= link_to "##{tag.name}", tag_path(tag), class: "tag-in-cloud #{css_class}"
  - if @unanswered.try(:any?)
    .col-xs-12.white-block
      - @unanswered.map do |q|
        .panel.panel-default.home-panel
          .panel-body
            %h2.q-title= link_to q.title, q, target: "_blank"
            %span #{q.impressions_count} просмотров,
            %span #{q.answers_count} ответов

= render @questions

.row
  .col-xs-12
    = render "shared/pagination", records: @questions
