= title("ezpoisk - полезная информация о русских в америке и не только")
= desc("ezanswer - здесь можно находить полезную информацию, спрашить и делиться своим мнением, получать качетвенные ответы на любые вопросы")

- content_for :secondary_navbar do
  = render "questions/navbar"

.row
  .col-md-8
    = render @questions

  .hidden-xs.hidden-sm.col-md-4
    #tag_cloud
      - tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class|
        %span= link_to "##{tag.name}", tag_path(tag), class: "tag-in-cloud #{css_class}"

.row
  .col-xs-12
    = render "shared/pagination", records: @questions
