= title("eZpoisk - полезная информация о русских в америке и не только")
= desc("eZanswer - здесь можно находить полезную информацию, спрашить и делиться своим мнением, получать качетвенные ответы на любые вопросы")
- content_for :secondary_navbar do
  = render "questions/navbar"

.row
  .col-md-8
    = render @questions

  / partners
  .hidden-xs.hidden-sm.col-md-4

.row
  .col-xs-12
    = render "shared/pagination", records: @questions
