= title("ezpoisk - #{@question.title}")
= desc("ezanswer - #{strip_tags(@question.text_to_show).truncate(200)}")
- content_for :secondary_navbar do
  = render "questions/navbar"

.row
  .col-xs-12.col-md-8
    / question
    .row
      .col-xs-12.question
        / line 1 title & edit
        %h1.question-title
          = @question.title
          - if @question.user == current_user
            %i.fa.fa-cog.pull-right{"data-content" => "#{render "questions/edit_link"}",
              "data-toggle" => "popover",
              "data-placement" => "left",
              "data-trigger" => "focus",
              :role => "button",
              :tabindex => "0"}

        / line 2 question text
        - if @question.text.present?
          %p.text= sanitize @question.text

        / answer button/links
        - if current_user
          = render "questions/new_answear"
        - else
          = link_to "Войдите, чтобы ответить", new_user_session_path
        %span.text.text-muted.qa-links= "#{@question.answers.count} ответов"
        %hr#lenta/

    %br/

    / ANSWERS
    .row
      .col-xs-12
        = render @question.answers.includes(:user).by_score

  / partners
  .hidden-xs.hidden-sm.col-md-4
