= title("ezpoisk - #{@question.title}")
= desc("ezanswer - #{strip_tags(@question.text_to_show).truncate(200)}")
- content_for :secondary_navbar do
  = render "questions/navbar"

.row
  .col-xs-12.col-md-8
    / question
    .row
      .col-xs-12.question
        / line 1 title & edit
        %h1.question-title
          = @question.title
          - if @question.user == current_user
            %i.fa.fa-cog.pull-right{"data-content" => "#{render "questions/edit_link"}",
              "data-toggle" => "popover",
              "data-placement" => "left",
              "data-trigger" => "focus",
              :role => "button",
              :tabindex => "0"}

        / line 2 question text
        - if @question.text.present?
          %p.text= sanitize @question.text

        / answer button/links
        = current_user ? render("questions/new_answear") : link_to("Войдите, чтобы ответить", new_user_session_path)
        %a.text.text-muted.qa-links{href: "#comments", "aria-expanded": "false", "data-toggle": "collapse"} коментарии
        -# .pull-right.fb-like{"data-action": "like", "data-href": question_url(@question), "data-layout": "button_count", "data-share": "true", "data-show-faces": "true"}
        %br/
        %br/
        .q-social
          = render "shared/social", url: question_url(@question)

        / collapsed answer
        #collapseExample.collapse
          %br/
          = bootstrap_form_for Answer.new do |f|
            = hidden_field_tag 'answer[question_id]', @question.id
            .field= f.text_area :text, hide_label: true, class: "summernote"
            .actions= f.submit 'Сохранить', class: 'btn btn-success btn-block'

        / collapsed comments
        #comments.collapse
          .fb-comments{"data-href" => question_url(@question), "data-numposts" => "5"}

        %hr#lenta/
        %p
          = tag_links(@question)

    %br/

    / ANSWERS
    .row
      .col-xs-12
        = render @question.answers.includes(:user).by_score

  / partners
  .hidden-xs.hidden-sm.col-md-4
