= title("Недвижимость в США. Снять сдать, купить продать квартиру - ezpoisk")
= desc("EZPOISK - Объявления о продаже, покупке и аренде квартир без посредников в США: Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др.")
- content_for :secondary_navbar do
  = render "ezrealty/navbar"
= render 'ezrealty/re_privates/search_modal'

.col-md-8
  .row
    .visible-xs.col-xs-3= link_to '<', root_path, class: "mobile-btn mobile-back-btn"
    = render 'ezrealty/re_privates/search_modal_trigger'
    %br/
    .hidden-xs= render "shared/search_params"
  %br/

  .row
    .col-xs-12
      - @re_privates.each do |re_private|
        = render 'dashboard/re_privates/re_private', record: re_private

    .col-xs-12
      = render "shared/pagination", records: @re_privates
