= title("#{@re_private.address} #{@re_private.post_type} частной недвижимости в США - ezpoisk")
= desc("#{@re_private.post_type}, #{@re_private.address}, #{@re_private.phone} . EZPOISK - снять/продать квартиру, дом, недвижимоть.")
- content_for :secondary_navbar do
  = render "ezrealty/navbar"

.row.show
  .col-xs-12.col-md-7.white-block
    %ul.pgwSlideshow.pictures
      - @re_private.pictures.each do |pic|
        %li
          = link_to pic.image.url do
            = image_tag pic.image.url(:large), alt: ""
  /images

  .col-xs-12.col-md-5
    .visible-xs
      %hr.black-line/
    = render "shared/show/contacts", record: @re_private
  / right block

%hr.black-line/

.row
  .col-xs-12.col-md-8
    = render "dashboard/re_privates/re_private", record: @re_private

%hr.black-line/

.row
  .hidden-xs.col-sm-12.col-md-8
    = render 'shared/show/map', record: @re_private
  .col-xs-12.col-md-4
    %li.list-group-item
      Продолжительность: #{@re_private.duration}
    %li.list-group-item
      Тип обьявления: #{@re_private.post_type}
    %li.list-group-item
      Цена: #{@re_private.price}
    %li.list-group-item
      Комиссия: #{@re_private.fee ? 'да' : 'нет'}
    %li.list-group-item
      Коматы: #{@re_private.rooms}
    %li.list-group-item
      Ванные коматы: #{@re_private.baths}
    %li.list-group-item
      Площадь: #{@re_private.space}
    %li.list-group-item
      Подано: #{time_ago_in_words @re_private.created_at} назад

%hr.black-line/

- if @re_private.description.present?
  .row
    .hidden-xs.col-sm-12
      .white-block
        = sanitize @re_private.description
