= form_tag services_path, method: :get, class: "form-horizontal"

.form-group
  .col-sm-10
    %label
      Введите адрес и радиус поиска
    = origin_text_field_param
  .col-sm-2
    %label
      миль
    = within_text_field_param

%hr
%h5
  Либо выберите штат и город
.form-group
  = label_tag "Штат", nil,  class: "col-sm-3 control-label"
  .col-sm-5
    = select_tag :state_id,
                 state_select_with_param,
                 multiple: true,
                 class: "form-control state-select"

.form-group
  = label_tag "Город", nil,  class: "col-sm-3 control-label"
  .col-sm-5
    = select_tag :city_id,
                 city_select_with_param,
                 class: "form-control city-select"

%hr/
.form-group
  = label_tag "Раздел", nil,  class: "col-sm-3 control-label"
  .col-sm-5
    = select_tag :category,
                service_categories_options,
                include_blank: true,
                class: "form-control category-select"

.form-group
  = label_tag "Категория", nil,  class: "col-sm-3 control-label"
  .col-sm-5
    -if params[:category]
      = select_tag :subcategory,
                   service_subcategories_options,
                   class: "form-control subcategory-select"
