/ Modal
#serviceSearch.modal.fade{ "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1" }
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title.text-center Настроить фильтр

      .modal-body
        %form.form-horizontal{action: services_path, method: :get}
          = render "shared/search_by_address"
          %hr/
          .row
            .col-sm-6
              = label_tag "Раздел", nil
              = select_tag :category, service_categories_options, include_blank: true, class: "form-control category-select"
            .col-sm-6
              = label_tag "Категория", nil
              = select_tag :subcategory, service_subcategories_options, class: "form-control subcategory-select"
          %hr/
          .row
            .col-xs-6
              = link_to "Сбросить", services_path, class: "btn btn-block mobile-btn"
            .col-xs-6
              = submit_tag "Фильтроваить", name: nil, class: "btn btn-block mobile-btn"
