.row.post-item.white-block{ class: ("user-hidden" if service.user_hidden?(current_user)), "data-hidden": service.id }
  .col-xs-4.col-sm-4.logo-js
    = link_to service_path(service) do
      = image_tag service.logo.url(:medium), alt: service.title, class: "img-responsive"
  .col-xs-8.col-sm-8
    / line 1
    .hidden-xs
      - if home_controller?
        %h5.title= link_to service.title, service_path(service)
      - else
        %h4.title= link_to service.title, service_path(service)
    .visible-xs
      %h5.title= link_to service.title, service_path(service)

    /line 2
    .hidden-xs
      - if service.street? && !home_controller?
        %span= service.street
        %hr.post-devider/

    /line 3

    /line 4
    %span.glyphicon.glyphicon-earphone
    %span.company-phone= service.phone
    %hr.post-devider/

    / line 6
    .hidden-xs
      - if service.try(:site).present?
        %strong
          = link_to service.site, service.site_link, target: "_blank"

    / line 7
    .pull-right= render "shared/favor_links", record: service
    %span= time_ago_in_words service.updated_at
