.row
  %h4.pull-right
    %a= "Всего #{@total}"
  = render 'services/search_modal'
.row
  %hr/
  - @services.each do |service|
    = render 'dashboard/services/service', service: service

- if @services.empty?
  .row
    = render "shared/no_posts_message"
- else
  .row
    %hr/
    .text-center
      = paginate @services, :theme => 'twitter-bootstrap-3'
    %hr/
