= title("Услуги: Адвокаты, Медицина, Образование, Ремонтные и др. в США - ezpoisk")
= desc("EZPOISK - Бесплатные обьявления, реклама. Все виды услуг в США. Найти сервис, рекламировать бизнес, получить помощь.")

- content_for :secondary_navbar do
  = render "services/navbar"
= render 'services/search_modal'

.row.search
  .visible-xs.col-xs-3
    = link_to '<', root_path, class: "mobile-btn mobile-back-btn"
  = render 'services/search_modal_trigger'
  .hidden-xs= render "shared/search_params"

.row
  .col-xs-12
    - @services.each do |service|
      = render 'dashboard/shared/company', record: service

  .col-xs-12
    = render "shared/pagination", records: @services
