-content_for :left_sidebar do
  = render 'services/sidebar'

/ Main
%h4.pull-right
  %a= "Всего #{@services.total_count}"
= render 'services/search_modal'
%hr/
- @services.each do |service|
  = render 'dashboard/services/service', record: service

= render "shared/pagination", records: @services
/ Main
