= title("Адвокаты, Медицина, Образование, Ремонтные и др. услуги в США - ezpoisk")
= desc("ezpoisk - Бесплатные обьявления, реклама. Адвокаты, Медицина, Образование, Ремонтные и др. услуги в США")

- content_for :secondary_navbar do
  = render "services/navbar"
= render 'services/search_modal'

/ Secondary navbar
.visible-xs
  .row.mobile-secondary
    .col-xs-3
      = link_to '<', root_path, class: "mobile-btn mobile-back-btn"
    .col-xs-3
      -# = @services.total_count
    .col-xs-6
      = render 'services/search_modal_trigger'
/  / Secondary navbar

/ MAIN content
.col-md-8
  .row
    .hidden-xs
      = render 'services/search_modal_trigger'
    %br/

  .row
    .col-xs-12
      - @services.each do |service|
        = render 'dashboard/shared/company', record: service

    .col-xs-12
      = render "shared/pagination", records: @services
