= title("|Услуги, адвокаты, образование, медицина")
-content_for :left_sidebar do
  = render 'services/sidebar'

/ Main
%h4.pull-right
  %a= "Всего #{@services.total_count}"
= render 'services/search_modal'
%hr/
- @services.each do |service|
  = render 'dashboard/services/service', record: service

= render "shared/pagination", records: @services
/ Main

.row
  .col-md-12
    %hr/
    %p
      Реклама и PR, Туристические фирмы, Уборка помещений, Посылки, грузы,
      Фото, Видео, Артисты, праздники, Компьтеры, интернет, Истребление насекомых,
      Детективы, охрана, Переводы, печатные работы,
      Сопровождение на встречах и отдыхе, Массаж, Няни, гувернантки
    %p
      Продажа / аренда автомобилей, автосервисы, автошколы, перевозки, такси
    %p
      Адвокаты, юристы, паралигалы
    %p
      Косметология, салоны красоты, пластическая хирургия
    %p
      Медицинские офисы, врачи, аптеки, ветеринарные клиники
    %p
      Образование, школы, колледжы, кружки, репетиторы
    %p
      Ремонт техники, электроини, одежды
    %p
    Эклектрики, Сантехники, Маляры, Сигнализация, Видеонаблюдение, Архитектура, Дизайн
    %p
      И многое другое в Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майми и др. городах
