= title("|Услуги, адвокаты, образование, медицина")
-content_for :left_sidebar do
  = render 'services/sidebar'

/ Main
%h4.pull-right
  %a= "Всего #{@services.total_count}"
= render 'services/search_modal'
%hr/
- @services.each do |service|
  = render 'dashboard/services/service', record: service

= render "shared/pagination", records: @services
/ Main

.row
  .col-md-12
    %hr/
    %p
      Реклама и PR, Туристические фирмы, Уборка помещений, Посылки, Грузы,
      Фото, Видео, Артисты, Праздники, Компьютеры, Интернет,
      Истребление насекомых, Детективы, Охрана, Переводы,
      Печатные работы, Сопровождение на встречах и отдыхе,
      Массаж, Няни, гувернантки
    %p
      Продажа / аренда автомобилей, Автосервис, Автошколы, Перевозки, Такси
    %p
      Адвокаты, Юристы, Паралигалы
    %p
      Косметология, Салоны красоты, Пластическая хирургия
    %p
      Медицинские офисы, Врачи, Аптеки, Ветеринарные клиники
    %p
      Образование, Школы, Колледжи, Кружки, Репетиторы
    %p
      Ремонт техники, электроники, одежды
    %p
      Электрики, Сантехники, Маляры, Сигнализация, Видеонаблюдение, Архитектура, Дизайн
    %p
      И многое другое в Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и других городах.
