= title("|Услуги, адвокаты, образование, медицина")
= desc("eZpoisk - #{@service.title}, #{@service.category} - #{@service.subcategory}, #{@service.address}")
- content_for :secondary_navbar do
  = render "services/navbar"

.col-md-8.col-xs-12
  = render "shared/show",
            record: @service,
            template: 'dashboard/services/service'
