= title("#{@service.title} #{@service.city_name} #{@service.state_name}")
= desc("#{@service.title}, #{@service.category} - #{@service.subcategory}, #{@service.address}")
- content_for :head do
  %meta{property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] }/
  %meta{property: "og:type", content: "business.business"}/
  %meta{property: "og:url", content: service_url(@service) }/
  %meta{property: "og:title", content: @service.title}/
  %meta{property: "og:image", content: @service.logo.url(:medium)}/
  %meta{property: "og:description", content: strip_tags(@service.description).truncate(200)}/
  %meta{property: "place:location:latitude", content: @service.lat}/
  %meta{property: "place:location:longitude", content: @service.lng}/

  %meta{property: "business:contact_data:street_address", content: @service.street}/
  %meta{property: "business:contact_data:locality", content: "USA"}/
  %meta{property: "business:contact_data:postal_code", content: @service.zip}/
  %meta{property: "business:contact_data:country_name", content: "USA"}/

= render 'shared/show/service', record: @service
