<div class="row">

<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <br>
  <% #TODO: refactor %>
  <% #TODO: fix styles, some of them are missing %>
  <% if re_private.try(:logo ) %>
    <img src="{{re_private.logo}}" class="img-responsive" alt="re_private main image">
  <% else %>
    <%= image_tag 'photo_default', alt: "Image placeholder", class: "img-responsive" %>
  <% end %>
</div>

<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

  <h3 class="blue">
    <%= link_to re_private.street, real_estate_re_private_path(re_private) %>
  </h3>

  <span class="post-type">
    for
    <span class="type">
      <strong><%= re_private.post_type %></strong>
    </span>
  </span>

  <strong>
    $ <%= re_private.price %>  |
  </strong>

  <% #TODO: refactor %>
  <% if re_private.duration %>
    <%= re_private.duration %>
  <% end %>

  <% unless re_private.fee %>
    <span class="pull-right no-fee"> NO FEE </span>
  <% end %>

  <hr class="post-devider">

  <% if re_private.rooms %>
    комнаты: <%= re_private.rooms %> |
  <% end %>

  <% if re_private.baths %>
    ванные: <%= re_private.baths %> |
  <% end %>

  <% if re_private.space %>
    площадь:  <%= re_private.space %> ft
  <% end %>

  <% if re_private.phone %>
    <span class="pull-right">
      <span class="glyphicon glyphicon-phone"></span> <%= re_private.phone %>
  </span>
<% end %>

<hr class="post-devider">
автор: <strong><%= re_private.user.email %></strong>

<hr class="post-devider">
<span class="pull-right"><%= re_private.updated_at %></span>
</div>

</div>
