= form_tag real_estate_re_privates_path,
           method: :get,
           class: "form-horizontal"

.form-group
  .col-sm-10
    %label
      Введите адрес и радиус поиска
    = origin_text_field_param
  .col-sm-2
    %label
      миль
    = within_text_field_param

%hr
%h5
  Либо выберите штат и город
.form-group
  = label_tag "Штат", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :state_id,
                 state_select_with_param,
                 include_blank: true,
                 class: "form-control state-select"

.form-group
  = label_tag "Город", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :city_id,
                 city_select_with_param,
                 include_blank: true,
                 class: "form-control city-select"

%hr/
%h5
  Детали поиска
.form-group
  = label_tag "Сортировать", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = sort_select

.form-group
  = label_tag "Тип обьявления", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :post_type,
                 options_for_select(RE_TYPES, params[:post_type]),
                 include_blank: true,
                 class: "form-control"

.form-group
  = label_tag "Минимальная цена", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = text_field_tag :min_price, params[:min_price], class: "form-control"

.form-group
  = label_tag "Максимальная цена", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = text_field_tag :max_price, params[:max_price], class: "form-control"

.form-group
  = label_tag "Квартира сдается", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :duration,
                 options_for_select(RE_DURATION, params[:duration]),
                 include_blank: true,
                 class: "form-control"

.form-group
  = label_tag "Комнаты", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :rooms,
                 options_for_select((1..10).to_a, params[:rooms]),
                 include_blank: true,
                 class: "form-control"
.form-group
  = label_tag "Ванные", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :baths,
                 options_for_select((1..10).to_a, params[:baths]),
                 include_blank: true,
                 class: "form-control"

.form-group
  = label_tag :fee, "Без комиссии", class: "col-sm-5 control-label"
  .col-sm-5
    = check_box_tag :fee, '0',  params[:fee], class: "checkbox-inline"
