= title("|Аренда, продажа частной недвижимости в США")
= desc("eZpoisk - Объявления о продаже, покупке и аренде квартир без посредников в США. #{@re_private.address}")
- content_for :secondary_navbar do
  = render "real_estate/navbar"

= render "shared/show",
          record: @re_private,
          template: 'dashboard/re_privates/re_private'
