.row
  .col-xs-12.white-block
    / line 1  title and User
    .col-xs-12
      %h4.question-title
        = link_to answer.question_title, answer.question, target: "_blank"
      .row
        .col-xs-12
          .hidden-xs.col-sm-1.qa-avatar
            = link_to profile_path(@profile) do
              = image_tag @profile.avatar.url(:thumb), alt: @profile.name,  class: "img-responsive img-circle center-block"
          .col-xs-12.col-sm-11
            %h3.text-muted.question-author= link_to @profile.name_to_show, profile_path(@profile)
            %p= "#{answer.impressions_count} просмотров"

    / line 2 question text
    .hidden-xs.col-sm-12
      %p.text
        = strip_tags(answer.text).truncate(200)
        - if strip_tags(answer.text).size > 200
          = link_to "читать дальше", answer.question, target: "_blank"
    .col-xs-12
      %p= tag_links(answer.question)
