= title("#{@profile.name} Объявления")
= desc("#{@profile.work.truncate(160)}")

- content_for :head do
  %meta{property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] }/
  %meta{property: "og:type", content: "article"}/
  %meta{property: "og:url", content: profile_listings_url(@profile) }/
  %meta{property: "og:title", content: @profile.name}/
  %meta{property: "og:image", content: @profile.cover.url(:large)}/
  %meta{property: "og:description", content: @profile.about.truncate(200)}/

.container.profile
  = render "profiles/cover"
  .row
    .col-lg-6
      .column
        - @listings.each_with_index do |p, i|
          = render p if i < 5

    .col-lg-6
      .column
        - @listings.each_with_index do |p, i|
          = render p if i > 4

  .row
    .col-xs-12
      .text-center
        - if @listings.any?
          = paginate @listings, theme: "twitter-bootstrap-3"
        - else
          = link_to "подать объявление", "#new", "data-toggle": "modal", class: "btn btn-lg btn-warning"
