.container.profile
  = render "profiles/cover"
  .row
    .col-lg-6
      .column
        - @posts.each_with_index do |p, i|
          = render p if i < 5

    .col-lg-6
      .column
        - @posts.each_with_index do |p, i|
          = render p if i > 4

  .row
    .col-xs-12
      .text-center
        - if @posts.any?
          = paginate @posts, theme: "twitter-bootstrap-3"
        - else
          = link_to "добавить новость", new_dashboard_post_path, class: "btn btn-lg btn-warning"
