.container.profile
  = render "profiles/cover"
  .row
    .col-xs-12.col-sm-6
      .white-block
        .panel.panel-default
          .panel-heading
            %h4.title= @profile.name || "..."
          .panel-body
            .row
              .col-lg-4
                = image_tag @profile.avatar.url(:medium), class: "center-block"
              .col-lg-8
                %p.text.answer= user_motto
                %p
                  - if @profile.phone.present?
                    phone
                    %span.pull-right= @profile.phone
                %p
                  %span.pull-right= link_to @profile.site, "http://#{@profile.site}" if @profile.site.present?
                  %br/
                %hr/
                .span.social
                  - if @profile.facebook.present?
                    = link_to @profile.facebook do
                      %i.fa.fa-facebook
                  - if @profile.google.present?
                    = link_to @profile.google do
                      %i.fa.fa-google-plus
                  - if @profile.twitter.present?
                    = link_to @profile.twitter do
                      %i.fa.fa-twitter
                  - if @profile.vk.present?
                    = link_to @profile.vk do
                      %i.fa.fa-vk
                  - if @profile.ok.present?
                    = link_to @profile.ok do
                      %i.fa.fa-odnoklassniki

      .white-block
        .panel.panel-default
          .panel-heading
            %h4 О себе
          .panel-body
            .text.answer= simple_format about_to_show

    .col-xs-12.col-sm-6
      .white-block
        .panel.panel-default
          .panel-heading
            %h4 О работе
          .panel-body
            .text.answer= simple_format work_to_show
