= title("#{@profile.name} #{@profile.work}")
= desc("#{@profile.about.truncate(160)}")

- content_for :head do
  %meta{property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] }/
  %meta{property: "og:type", content: "article"}/
  %meta{property: "og:url", content: profile_url(@profile) }/
  %meta{property: "og:title", content: @profile.name}/
  %meta{property: "og:image", content: @profile.cover.url(:large)}/
  %meta{property: "og:description", content: @profile.about.truncate(200)}/

.container.profile
  = render "profiles/cover"
  .row
    .col-xs-12.col-sm-6
      .white-block
        .panel.panel-default
          .panel-heading
            %h4.title= @profile.name || "..."
          .panel-body
            .row
              .col-lg-4
                = image_tag @profile.avatar.url(:medium), class: "center-block"
              .col-lg-8
                %p.text.answer= @profile.motto
                %p
                  - if @profile.phone?
                    phone
                    %span.pull-right= @profile.phone
                %p
                  %span.pull-right= link_to @profile.site, "http://#{@profile.site}" if @profile.site?
                  %br/
                %hr/
                .span.social
                  - if @profile.facebook?
                    = link_to @profile.facebook do
                      %i.fa.fa-facebook
                  - if @profile.google?
                    = link_to @profile.google do
                      %i.fa.fa-google-plus
                  - if @profile.twitter?
                    = link_to @profile.twitter do
                      %i.fa.fa-twitter
                  - if @profile.vk?
                    = link_to @profile.vk do
                      %i.fa.fa-vk
                  - if @profile.ok?
                    = link_to @profile.ok do
                      %i.fa.fa-odnoklassniki

      - if @profile.about?
        .white-block
          .panel.panel-default
            .panel-heading
              %h4 О себе
            .panel-body
              .text.answer= simple_format @profile.about

    - if @profile.work?
      .col-xs-12.col-sm-6
        .white-block
          .panel.panel-default
            .panel-heading
              %h4 О работе
            .panel-body
              .text.answer= simple_format @profile.work

        - if @profile.street?
          .white-block
            .panel.panel-default
              .panel-heading
                %h4 Адрес
              .panel-body
                #map.google-maps

                :javascript
                  $(document).ready(function(){
                    handler = Gmaps.build('Google');
                    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                      markers = handler.addMarkers(#{raw @profile.map_marker.to_json});
                      handler.bounds.extendWith(markers);
                      handler.fitMapToBounds();
                      handler.getMap().setZoom(12);
                    });
                  });

%script{ :src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript" }
%script{ :src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript" }
