<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<div class="col-md-12 forem-white">
  <h3>
    <%= t("forem.post.new") %>
    <% if @reply_to_post %>
      <%= render 'reply_to_post', :post => @reply_to_post %>
    <% else %>
      <%= @topic.subject %>
    <% end %>
  </h3>

  <%= simple_form_for [forem, @topic.forum, @topic, @post], html: {class: "form-horizontal"} do |f| %>
    <div class="col-md-12">
      <%= render :partial => "form", :locals => { :f => f } %>
    </div>
    <%= f.submit t("forem.post.buttons.reply"), :class => "btn btn-primary" %>
  <% end %>
</div>
