.row
  .col-xs-12.white-block#contacts
    .contacts-list
      %li.list-group-item
        Название:
        %strong= record.title

      %li.list-group-item
        автор:
        %strong= link_to record.user.name_to_show, profile_path(record.user.profile)

      - if record.try(:phone).present?
        %li.list-group-item
          телефон:
          %strong= record.phone
      %li.list-group-item
        %strong * Укажите, что нашли объявление на ezpoisk.com

      - unless record.try(:fax).blank?
        %li.list-group-item
          факс:
          %strong= record.try(:fax)
      - unless record.try(:site).blank?
        %li.list-group-item
          site:
          %strong
            = link_to record.site, "http://#{record.site}", target: "_blank"
      - if record.try(:email).present?
        %li.list-group-item
          email:
          %strong= record.email
      %li.list-group-item
        GMap:
        = link_to record.address, "https://maps.google.com/?q=#{record.address}", target: "_blank"
      - unless record.try(:source).blank?
        %li.list-group-item
          = link_to "Источник объявления", record.source, target: "_blank"
      %li.list-group-item
        Просмотров: #{record.impressions_count}
      %li.list-group-item
        = render "shared/social", count: nil
