#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  / Wrapper for slides
  .carousel-inner{:role => "listbox"}
    - record.pictures.each_with_index do |pic, i|
      %div{:class => "item #{"active" if i == 0}"}
        = image_tag pic.image.url(:large),
                    alt: "#{pic.image.url(:large)}-image",
                    class: "carousel-image center-block"
  / Wrapper for slides

  / Controls
  %a.left.carousel-control{"data-slide" => "prev",
                          :href => "#carousel-example-generic",
                          :role => "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous

  %a.right.carousel-control{"data-slide" => "next",
                            :href => "#carousel-example-generic",
                            :role => "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next
  / Controls

%br/

/ thumb navigation carousel
#slider-thumbs.col-md-12.hidden-sm.hidden-xs
  / thumb navigation carousel items
  %ul.list-inline
    - record.pictures.each_with_index do |pic, i|
      %li{ "data-slide-to" => "#{i}", "data-target" => "#carousel-example-generic",   class: ("active" if i == 0) }
        %a
          = link_to "" do
            = image_tag pic.image.url(:thumb), class: "slider-thumb"
