- content_for(:side) do
  = render "shared/show/contacts", record: record

.col-xs-12
  = render record

- if record.description.present?
  .col-xs-12.white-block.description
    = sanitize record.description

.col-xs-12
  = render "shared/show/map", record: record

%br/
%br/
= render "shared/partners/bottom"
