= bootstrap_form_for([:dashboard, @re_agency]) do |f|
  / address
  .field
    = f.text_field :street, label: '* Улица'
  .field
    = form_state_select(f)
  .field
    = form_city_select(f, @re_agency)

  / details
  .field
    = f.text_field :title, label: '* Название'
  .field
    = f.text_field :phone, label: '* Телефон'
  .field
    = f.text_field :site, label: 'Сайт'
  .field
    = f.email_field :email
  .field
    = f.check_box :active, label: 'Активно?'
  .actions
    = f.submit "Сохранить", id: "details-save-btn", class: "btn btn-primary"
  %br/
