.col-md-12.post-item
  #logo.col-lg-3.col-md-4.col-sm-4.hidden-xs
    = image_tag record.logo,
                alt: record.logo,
                class: "img-responsive"

  .col-lg-9.col-md-8.col-sm-8.col-xs-12
    / line 1
    %h3= link_to record.title, real_estate_re_agency_path(record)

    / line 2
    %span= record.address
    %span.pull-right.glyphicon.glyphicon-phone= record.phone
    %hr.post-devider/

    / line 3
    - unless record.site.blank?
      %strong
        = link_to record.site, "http://#{record.site}", target: "blank"
        %hr.post-devider/

    / line 4
    %span.pull-right= time_ago_in_words record.created_at
