<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @re_agency.title %>
</p>

<p>
  <strong>Street:</strong>
  <%= @re_agency.street %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @re_agency.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @re_agency.email %>
</p>

<p>
  <strong>Site:</strong>
  <%= @re_agency.site %>
</p>

<p>
  <strong>Description:</strong>
  <%= @re_agency.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @re_agency.active %>
</p>

<p>
  <strong>State:</strong>
  <%= @re_agency.state.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @re_agency.city.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @re_agency.user.email %>
</p>

<%= link_to 'Edit', edit_dashboard_re_agency_path(@re_agency) %> |
<%= link_to 'Back', dashboard_re_agencies_path %>
