- content_for :secondary_navbar do
  = render "dashboards/navbar"

.visible-xs
  .row.mobile-secondary
    .col-xs-3
      = link_to '<', root_path, class: "mobile-btn mobile-back-btn"

/ Nav tabs
%ul.nav.nav-tabs{role: "tablist"}
  %li.active{role: "presentation"}
    = link_to "Личные данные", "#personal", "aria-controls": "personal", "data-toggle": "tab", role: "tab"
  %li{role: "presentation"}
    = link_to "Аватар", "#avatar", "aria-controls": "avatar", "data-toggle": "tab", role: "tab"
  %li{role: "presentation"}
    = link_to "Пароль", "#passwords", "aria-controls": "passwords", "data-toggle": "tab", role: "tab"

/ Tab panes
.tab-content
  %br/
  #personal.tab-pane.active{:role => "tabpanel"}
    = render "devise/registrations/personal"

  #avatar.tab-pane{:role => "tabpanel"}
    = render "devise/registrations/avatar"

  #passwords.tab-pane{:role => "tabpanel"}
    = render "devise/registrations/passwords"
