- content_for :secondary_navbar do
  = render "dashboards/navbar"

.visible-xs
  .row.mobile-secondary
    .col-xs-3
      = link_to '<', root_path, class: "mobile-btn mobile-back-btn"

/ Nav tabs
%ul.nav.nav-tabs{:role => "tablist"}
  %li.active{:role => "presentation"}
    %a{"aria-controls" => "personal", "data-toggle" => "tab", :href => "#personal", :role => "tab"} Личные данные
  %li{:role => "presentation"}
    %a{"aria-controls" => "avatar", "data-toggle" => "tab", :href => "#avatar", :role => "tab"} Аватар
  %li{:role => "presentation"}
    %a{"aria-controls" => "passwords", "data-toggle" => "tab", :href => "#passwords", :role => "tab"} Пароль
/ Tab panes
.tab-content
  %br/
  #personal.tab-pane.active{:role => "tabpanel"}
    .col-md-8.col-xs-12
      = render "devise/registrations/personal"

  #avatar.tab-pane{:role => "tabpanel"}
    = render "devise/registrations/avatar"

  #passwords.tab-pane{:role => "tabpanel"}
    = render "devise/registrations/passwords"
