.row.post-item.white-block{ class: ("user-hidden" if re_private.user_hidden?(current_user)), "data-hidden": re_private.id }
  .col-xs-4.col-sm-4.logo-js
    = link_to link_to_show_page(re_private) do
      = image_tag re_private.logo_url, class: "img-responsive",
                  alt: "#{re_private.post_type} частной недвижимости - #{re_private.street} #{re_private.phone}"

      - unless re_private.fee
        .hidden-xs
          - if home_controller?
            %h5.capture Без комиссии
          - else
            %h4.capture Без комиссии
        .visible-xs
          .capture
            %i.fa.fa-usd

  .col-xs-8.col-sm-8
    / line 1
    .hidden-xs
      - if home_controller?
        %h5.title= link_to re_private.title, re_private
      - else
        %h4.title= link_to re_private.title, re_private
    .visible-xs
      %h5.title= link_to re_private.title, re_private

    / line 2
    .hidden-xs
      %span= re_private.post_type
      %strong= "$#{re_private.price}"
      = "/#{re_private.duration}"
      %hr.post-devider/
    .visible-xs
      %span= re_private.post_type
      %strong= "$#{re_private.price}"
      %hr.post-devider/

    / line 3
    .hidden-xs
      - unless home_controller?
        = re_private.rooms
        = " | ванные: #{re_private.baths}" unless re_private.baths.blank?
        = " | площадь:  #{re_private.space} ft" unless re_private.space.blank?
        %hr.post-devider/

    / line 4
    - if re_private.phone.present?
      %span.glyphicon.glyphicon-earphone
      %span.company-phone= re_private.phone
      %hr.post-devider/

    / line 5
    .pull-right
      = render "shared/favor_links", record: re_private
    %span= time_ago_in_words re_private.created_at
