= bootstrap_form_for([:dashboard, @service]) do |f|
  .field
    = f.text_field :title, label: '* Заголовок / Название'
  .field
    = f.text_area :description, rows: 5, label: 'Описание', class: "summernote"
  %hr.white/
  .row
    .col-sm-6
      = f.select :category,
                  SERVICE_CATEGORIES.keys,
                  { include_blank: true, label: '* Раздел' },
                  class: "category-select"
    .col-sm-6
      - if @service.category
        = f.select :subcategory,
                   SERVICE_CATEGORIES,
                   { include_blank: true , label: '* Категория' },
                   class: "subcategory-select"
      - else
        = f.select :subcategory, [], { label: '* Категория' }, class: "subcategory-select"
  %hr.white/

  .field
    = f.text_field :street, label: 'Улица *'
  .row
    .col-sm-6
      = form_state_select(f)
    .col-sm-6
      = form_city_select(f, @service)

  %hr.white/

  .row
    .col-sm-6
      = f.text_field :phone, label: '* Телефон'
    .col-sm-6
      = f.text_field :fax, label: 'Факс'

  .row
    .col-sm-6
      = f.text_field :site, label: 'Сайт', placeholder: "Пример: www.ezpoisk.com"
    .col-sm-6
      = f.email_field :email

  .row
    .col-xs-12
      = f.check_box :active, label: "Активно *"

  %br/
  .actions
    = f.submit "Сохранить", id: "details-save-btn", class: "btn mobile-btn"
    - unless @service.new_record?
      = link_to "Удалить", dashboard_service_path(@service), method: :delete, data: { confirm: I18n.t(:confirm) }, class: "btn mobile-btn btn-danger"
  %br/
