= link_to 'Новое',
          new_dashboard_service_path,
          class: "btn btn-success"

- if @services.any?
  %table.table
    %thead
      %tr
        %th{:colspan => "4"}
    %tbody
      - @services.each do |service|
        %tr
          %td
            = link_to service.title, edit_dashboard_service_path(service)
          %td= service.active? ? "Активно" : "Не актвино"
          %td= link_to 'Редактировать', edit_dashboard_service_path(service)
          %td= link_to 'Удалить',
                        dashboard_service_path(service),
                        method: :delete,
                        data: { confirm: I18n.t(:confirm) }
- else
  %hr/
  %p
    Вы пока не создали обьявлений
