.col-lg-6.col-md-8.col-12-sm
  = bootstrap_form_for([:dashboard, @job_agency]) do |f|
    / address
    .field
      = f.text_field :street, label: '* Улица'
    .field
      = f.select :state_id,
                 State.all.collect {|s| [ s.name, s.id ] },
                 include_blank: true,
                 label: '* Штат'
    .field
      - if @job_agency.state
        = f.select :city_id,
                   @job_agency.state.cities.collect { |c| [c.name, c.id] },
                   label: '* Город'
      - else
        = f.select :city_id, [], label: '* Город'

    / details
    .field
      = f.text_field :title, label: '* Название'
    .field
      = f.text_field :phone, label: 'Телефон'
    .field
      = f.text_field :site, label: 'Сайт'
    .field
      = f.text_field :email
    .field
      = f.check_box :active, label: 'Активно?'
    .actions
      = f.submit "Сохранить", id: "details", class: "btn btn-primary"
    %br/
