= bootstrap_form_for([:dashboard, @job_agency]) do |f|
  / details
  .field
    = f.text_field :title, label: '* Название'
  .field
    = f.text_field :phone, label: '* Телефон'
  .field
    = f.text_field :fax, label: 'Факс'
  .field
    = f.text_field :site, label: 'Сайт', placeholder: "Пример: www.ezpoisk.com"
  .field
    = f.email_field :email

  / address
  .field
    = f.text_field :street, label: '* Улица'
  .field
    = form_state_select(f)
  .field
    = form_city_select(f, @job_agency)

  .field
    = f.check_box :active, label: "Активно *"

  .field
    = f.text_area :description, rows: 5, label: 'Описание', class: "summernote"

  %br/
  .actions
    = f.submit "Сохранить", id: "details-save-btn", class: "btn mobile-btn"
    %i.fa.fa-question.my-q{"data-toggle": "tooltip", "data-placement": "right" , title: (t :save_tooltip) }


- unless @job_agency.new_record?
  %br/
  = link_to 'Удалить',
            dashboard_job_agency_path(@job_agency),
            method: :delete,
            data: { confirm: I18n.t(:confirm) },
            class: "btn btn-block mobile-btn btn-danger"

%br/
%p
  %strong Активно * -
  = t :active_tooltip
