/ same as re_agency
.col-lg-12.col-md-12.col-sm-12.post-item
  #logo.col-lg-3.col-md-4.col-sm-4.hidden-xs
    = image_tag record.logo,
                alt: record.logo,
                class: "img-responsive"

  .col-lg-9.col-md-8.col-sm-8
    / line 1
    %h3= link_to record.title, jobs_job_agency_path(record)
    %hr.post-devider/

    / line 2
    %span= "#{record.street}, #{record.city.name}, #{record.state.name}"
    %hr.post-devider/

    /line 3
    %span.glyphicon.glyphicon-phone= record.phone
    %hr.post-devider/

    / line 3
    - unless record.site.blank?
      %strong
        = link_to record.site, "http://#{record.site}", target: "blank"
        %hr.post-devider/

    / line 4
    %span= time_ago_in_words record.created_at
