= link_to 'Новое агенство',
          new_dashboard_job_agency_path,
          class: "btn btn-success"
%br/
%br/

- if @job_agencies.any?
  %table.table
    %thead
      %tr
        %th{:colspan => "4"}
    %tbody
      - @job_agencies.each do |job_agency|
        %tr
          %td
            = link_to job_agency.title, edit_dashboard_job_agency_path(job_agency)
          %td= job_agency.active? ? "Активно" : "Не актвино"
          %td= link_to 'Редактировать', edit_dashboard_job_agency_path(job_agency)
          %td= link_to 'Удалить',
                        dashboard_job_agency_path(job_agency),
                        method: :delete,
                        data: { confirm: I18n.t(:confirm) }

  / Table
  = render "shared/pagination", records: @job_agencies

- else
  %p= I18n.t(:no_messages)
