= bootstrap_form_for([:dashboard, @sale]) do |f|
  .field
    = f.text_field :title, label: '* Заголовок'

  .field
    = f.select :category,
                SALE_CATEGORIES,
                include_blank: true,
                label: '* Категория'

  .field
    = form_state_select(f)
  .field
    = form_city_select(f, @sale)

  .field
    = f.text_field :phone, label: '* Телефон'

  .field
    = f.email_field :email

  .field
    = f.check_box :active, label: 'Активно? *'

  .field
    - if @sale.new_record? && !Rails.env.test?
      = recaptcha_tags
  %br/

  .actions
    = f.submit "Сохранить",
               class: "btn btn-primary",
               id: 'details-save-btn'

  %br/
  %hr/
  = render "dashboard/shared/active_message"
