.col-lg-12.col-md-12.col-sm-12.col-xs-12.post-item
  #logo.col-lg-4.col-md-4.col-sm-4.hidden-xs
    = image_tag record.logo_url(:medium),
                alt: record.logo_url(:medium),
                class: "img-responsive"

  .col-lg-8.col-md-8.col-sm-8.col-xs-12
    / line 1
    %h3= link_to record.title, sale_path(record)

    / line 2
    %span= "#{record.city.name}, #{record.state.name}"
    %hr.post-devider/

    / line 3
    %strong= record.category
    %span.pull-right.glyphicon.glyphicon-phone= record.phone
    %hr.post-devider/

    / line 4
    %span= record.email unless record.email.blank?
    %span.pull-right= time_ago_in_words record.created_at
