%br/
= link_to 'Создать новое',
           new_dashboard_sale_path,
           class: 'btn btn-success'
%br/
%br/

- if @sales.any?
  %table.table.table-hover
    %thead
      %tr
        %th{:colspan => "4"}
    %tbody
      - @sales.each do |sale|
        %tr
          %td
            = link_to sale.title,
                      edit_dashboard_sale_path(sale)
          %td= sale.active? ? "Активно" : "Не актвино"
          %td= link_to 'Редактировать', edit_dashboard_sale_path(sale)
          %td= link_to 'Удалить', dashboard_sale_path(sale),
                        method: :delete,
                        data: { confirm: I18n.t(:confirm) }

  / Table
  = render "shared/pagination", records: @sales

- else
  %p= I18n.t(:no_messages)
