/ Contact Section
%section#contact
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Contact Us
        %h3.section-subheading.text-muted Пишите нам - мы будем вам очень рады !!!
    .row
      .col-lg-12

        = form_for @feedback, name: "sentMessage", novalidate: "" do |f|
          .row
            .col-md-6
              .form-group
                = f.text_field :name, "data-validation-required-message": "Please enter your name.",
                  placeholder: "Your Name *", required: "", class: "form-control"
                %p.help-block.text-danger
              .form-group
                = f.email_field :email, "data-validation-required-message": "Please enter email address.",
                  placeholder: "Your Email *", required: "", class: "form-control"
                %p.help-block.text-danger
              .form-group
                = f.telephone_field :phone, "data-validation-required-message": "Please enter your phone number.",
                  placeholder: "Your Phone *", required: "", class: "form-control"
                %p.help-block.text-danger
            .col-md-6
              .form-group
                = f.text_area :message, "data-validation-required-message": "Please enter a message.",
                  placeholder: "Your Message *", required: "", class: "form-control"
                %p.help-block.text-danger
            .clearfix
            .col-lg-12.text-center
              #success
              %button.btn.btn-xl{:type => "submit"} Send Message
