%section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Our Amazing Team
        %h3.section-subheading.text-muted Люди, благодаря которым проект существует и развивается

    / FIRST ROW
    .row
      .col-sm-4
        .team-member
          = image_tag "about/team/serghei", class: "img-responsive img-circle"
          %h4 Serghei
          %p.text-muted Chief executive officer
          -# %ul.list-inline.social-buttons
            -# %li
            -#   %a{:href => "#"}
            -#     %i.fa.fa-twitter
            -# %li
            -#   %a{:href => "#"}
            -#     %i.fa.fa-facebook
            -# %li
            -#   %a{:href => "#"}
            -#     %i.fa.fa-linkedin
      .col-sm-4
        .team-member
          = image_tag "about/team/greta", class: "img-responsive img-circle"
          %h4 Greta
          %p.text-muted Marketer
      .col-sm-4
        .team-member
          = image_tag "about/team/andrei", class: "img-responsive img-circle"
          %h4 Andrei
          %p.text-muted Developer

    / SECOND ROW
    .row
      .col-sm-4
        .team-member
          = image_tag "about/team/nastya", class: "img-responsive img-circle"
          %h4 Anastasia
          %p.text-muted Content Manager
      .col-sm-4
        .team-member
          = image_tag "about/team/sasha", class: "img-responsive img-circle"
          %h4 Alexandr
          %p.text-muted Developer
      .col-sm-4
        .team-member
          = image_tag "about/team/boris", class: "img-responsive img-circle"
          %h4 Boris
          %p.text-muted Spiritual Guide

    / THIRD ROW
    .row
      .col-sm-4.col-sm-offset-4
        .team-member
          = image_tag "about/team/oleg", class: "img-responsive img-circle"
          %h4 Oleg
          %p.text-muted Content & Architecture

    / FINISH
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %p.large.text-muted I know there is strength in the differences between us. I know there is comfort, where we overlap.     -- Ani Difranco
