%form.form-horizontal{action: ezrealty_re_commercials_path, method: :get}
  = render "shared/search_by_address"
  %hr/
  .row
    .col-sm-4
      = label_tag "Минимальная цена", nil
      = number_field_tag :min_price, params[:min_price], class: "form-control"
    .col-sm-4
      = label_tag "Максимальная цена", nil
      = number_field_tag :max_price, params[:max_price], class: "form-control"
    .col-sm-4
      = label_tag "Сортировать", nil
      = sort_select
  %br

  .row
    .col-sm-6
      = label_tag "Тип объявления", nil
      = select_tag :post_type,
                   options_for_select(RE_TYPES, params[:post_type]),
                   include_blank: true,
                   class: "form-control"
    .col-sm-6
      = label_tag "Категория", nil
      = select_tag :category,
                   options_for_select(RE_COMMERCIAL_CATEGORIES, params[:category]),
                   include_blank: true,
                   class: "form-control"

  %hr/
  .row
    .col-xs-6
      = link_to "Сбросить", ezrealty_re_commercials_path, class: "btn btn-block mobile-btn"
    .col-xs-6
      = submit_tag "Фильтроваить", name: nil, class: "btn btn-block mobile-btn"
