= title("Аренда, продажа коммерческой недвижимости в США - ezpoisk")
= desc("EZPOISK - Объявления о продаже и аренде коммерческой недвижимости - цены на офисы, склады и магазины в США: Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др.")
- content_for :secondary_navbar do
  = render "ezrealty/navbar"
= render 'ezrealty/re_commercials/search_modal'

/ Secondary navbar
.visible-xs
  .row.mobile-secondary
    .col-xs-3
      = link_to '<', root_path, class: "mobile-btn mobile-back-btn"
    .col-xs-3
      = @re_commercials.total_count
    .col-xs-6
      = render 'ezrealty/re_commercials/search_modal_trigger'
/ /Secondary navbar

/ MAIN content
.col-md-8
  / total
  .row
    .hidden-xs
      %h4.pull-right
        %span= "Всего #{@re_commercials.total_count}"
      = render 'ezrealty/re_commercials/search_modal_trigger'
      %br/
      = render "shared/search_params"
  %br/
  / /total

  .row
    .col-xs-12
      - @re_commercials.each do |record|
        = render "dashboard/re_commercials/re_commercial", record: record

    .col-xs-12
      = render "shared/pagination", records: @re_commercials
