= title("Аренда, продажа коммерческой недвижимости в США - ezpoisk")
= desc("EZPOISK - Объявления о продаже и аренде коммерческой недвижимости - цены на офисы, склады и магазины в США: Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др.")
- content_for :secondary_navbar do
  = render "ezrealty/navbar"
- content_for :side do
  = render "shared/side/questions"

= render 'ezrealty/re_commercials/search_modal'

.row.search
  .visible-xs.col-xs-3
    = link_to '<', root_path, class: "mobile-btn mobile-back-btn"
  -# %h4.pull-right
  -#   %span= "Всего #{@re_commercials.total_count}"
  = render 'ezrealty/re_commercials/search_modal_trigger'
  .hidden-xs= render "shared/search_params"

.row
  .col-xs-12
    - @re_commercials.each do |record|
      = render "dashboard/re_commercials/re_commercial", record: record

  .col-xs-12
    = render "shared/pagination", records: @re_commercials
