= title("Работа в США: Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами - ezpoisk")
= desc("EZPOISK - Объявления о приеме на работу в США: Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др.")
- content_for :secondary_navbar do
  = render "ezjob/navbar"
- content_for :side do
  = render "shared/side/questions"

= render 'ezjob/jobs/search_modal'

.row.search
  .visible-xs.col-xs-3= link_to '<', root_path, class: "mobile-btn mobile-back-btn"
  = render 'ezjob/jobs/search_modal_trigger'
  .hidden-xs= render "shared/search_params"

.row
  .col-xs-12
    - @jobs.each do |job|
      = render 'dashboard/jobs/job', record: job

  .col-xs-12
    = render "shared/pagination", records: @jobs
