= title("#{@job.title} #{@job.city.name} #{@job.state.name} - работа '#{@job.post_type}'")
= desc("ezpoisk - Требуется на работу #{@job.title} - #{@job.category}")
- content_for :head do
  %meta{property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] }/
  %meta{property: "og:type", content: "article"}/
  %meta{property: "og:url", content: ezjob_job_url(@job) }/
  %meta{property: "og:title", content: "Требуется на работу" }/
  %meta{property: "og:image", content: @job.logo.url(:medium)}/
  %meta{property: "og:description", content: "#{@job.title}. #{strip_tags(@job.description).try(:truncate, 200)}"}/

- content_for :secondary_navbar do
  = render "ezjob/navbar"
- content_for(:side) do
  = render "shared/show/contacts", record: @job

.col-xs-12
  = render "dashboard/jobs/job", record: @job

- if @job.description.present?
  .col-xs-12.white-block
    = sanitize @job.description

.col-xs-12
  = render 'shared/show/map', record: @job
