.row
  %h4.pull-right
    %a= "Всего #{@total}"
  = render 'jobs/posts/search_modal'
.row
  %hr/
  - @jobs.each do |job|
    = render 'dashboard/jobs/job', job: job

- if @jobs.empty?
  .row
    = render "shared/no_posts_message"
- else
  .row
    %hr/
    .text-center
      = paginate @jobs, :theme => 'twitter-bootstrap-3'
    %hr/
