= title("Агенства по трудоустройству в США. Помощь в поиске работы - ezpoisk")
= desc("EZPOISK - Объявления о приеме на работу, кадровые агентства в США: Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др.")

= content_for :mobile_search, render("shared/mobile_search_modal", id: "job_agencies")
= content_for :sidebar, render("shared/filters", t: "job_agencies")

.col-xs-12
  = render  @job_agencies

.row
  .col-xs-12
    = render "shared/pagination", records: @job_agencies
