.row.post-item.white-block{ class: ("user-hidden" if job.user_hidden?(current_user)), "data-hidden": job.id }
  .col-xs-4.col-sm-4.logo-js
    = link_to job_path(job) do
      = image_tag job.logo.url(:medium),
                  alt: job.title,
                  class: "img-responsive"
  .col-xs-8.col-sm-8
    / line 1
    .hidden-xs
      - if home_controller?
        %h5.title= link_to job.title, job_path(job)
      - else
        %h4.title= link_to job.title, job_path(job)
    .visible-xs
      %h5.title= link_to job.title, job_path(job)

    /line 2
    %strong= job.category
    %hr.post-devider/

    / line 3
    - if job.phone?
      %span.glyphicon.glyphicon-earphone
      %span.company-phone= job.phone
      %hr.post-devider/

    / line 4
    - if job.email? && !home_controller?
      %span= job.email
      %hr.post-devider/

    / line 5
    .pull-right= render "shared/favor_links", record: job
    %span= time_ago_in_words job.updated_at
