= title("Финансирование Недвижимости в США - ezpoisk")
= desc("EZPOISK - Финансирование Недвижимости в США, помощь в поиске недвижимости в Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами")

- content_for :secondary_navbar do
  = render "ezrealty/navbar"
= render 'ezrealty/re_finances/search_modal'

/ Secondary navbar
.visible-xs
  .row.mobile-secondary
    .col-xs-3
      = link_to '<', root_path, class: "mobile-btn mobile-back-btn"
    .col-xs-3
      -# = @re_finances.total_count
    .col-xs-6
      = render 'ezrealty/re_finances/search_modal_trigger'
/ /Secondary navbar

/ MAIN content
.col-md-8
  .row
    .hidden-xs
      = render 'ezrealty/re_finances/search_modal_trigger'
      %br/
      = render "shared/search_params"
  %br/

  .row
    - @re_finances.each do |re_finance|
      .col-xs-12
        = render 'dashboard/shared/company', record: re_finance

    .col-xs-12
      = render "shared/pagination", records: @re_finances
