= title("#{@re_finance.title} - Агентство Недвижимости #{@re_finance.city.name} #{@re_finance.state.name}")
= desc("#{@re_finance.title}. #{@re_finance.description}")
- content_for :secondary_navbar do
  = render "ezrealty/navbar"

= render 'shared/show/company', record: @re_finance
