<ul class="list-group">
<% if post.try(:creator) %>
  <li class="list-group-item">
    автор: <strong><%= post.creator %></strong>
  </li>
<% end %>

<% if post.try(:address) %>
  <li class="list-group-item">
    адрес: <a href="http://maps.google.com/?q={{post.address}}"
                   target="blank"> <%= post.address %> </a>
  </li>
<% end %>

<% if post.try(:phone) %>
  <li class="list-group-item">
    телефон: <strong><%= post.phone %></strong>
  </li>
<% end %>

<% if post.try(:site) %>
  <li class="list-group-item">
    сайт: <a href="<%= post.site %>" target="blank"><%= post.site %></a>
  </li>
<% end %>

<% if post.try(:email) %>
  <li class="list-group-item">
    email: <%= post.email %>
</li>
<% end %>

</ul>
