#feedback
  .hidden-xs
    %a{ "data-target" => "#feedback-modal",
         "data-toggle" => "modal",
         :role => "button" }
      feedback

/ Modal
#feedback-modal.modal.fade{"aria-labelledby" => "myModalLabel",
                :role => "dialog",
                :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content

      .modal-header
        %button.close{"aria-label" => "Close",
                      "data-dismiss" => "modal",
                      :type => "button"}
          %span{"aria-hidden" => "true"} ×

        %h4#myModalLabel.modal-title
          Пажалуйста, оставьте ваш отзыв
      / .modal-header

      .modal-body
        .row
          .col-md-12
            %p
              Мы всеми силами стараемся улучшить сайт,
              любые замечания приветствуются.
              %br/
              Имя и email желательны, но не обязательны.
              %br/
              Спасибо!
            = bootstrap_form_for(Feedback.new_one(current_user),
                                 url: main_app.feedbacks_path) do |f|
              .form-group
                = f.text_field :name, label: "Ваше имя"
              .form-group
                = f.email_field :email, label: "Ваш email"
              .form-group
                = f.text_area :body, label: "Сообщение *", rows: 3, required: true
              .form-group
                = f.submit class: "btn btn-default", value: 'Оставить отзыв'
              %hr
      / .modal-body
