.row.white.footer.text-muted
  .col-sm-4
    .text-right
      %ul.list-unstyled
        %li= link_to 'Недвижимость', main_app.re_privates_path, target: "_blank"
        %li= link_to 'Услуги', main_app.services_path, target: "_blank"
        %li= link_to 'Работа', main_app.job_agencies_path, target: "_blank"
        %li= link_to 'Продается', main_app.sales_path, target: "_blank"
        %li= link_to 'Новости', main_app.posts_path, target: "_blank"
        %li= link_to 'О компании', "/about", target: "_blank"
        %li= link_to 'Terms of Service',  '/tos', target: '_blank'

  .col-sm-6
    %p.copyright
      &emsp;
      %strong ezpoisk
      \- это комьюнити портал, созданный с целью сблизить русскоговорящих людей
      проживающих в США. Здесь Вы сможете найти полезную и интересную информацию.
      Ищите ли Вы жилье, какой-либо вид услуг или же хотите рассказать о
      своем бизнесе - все это Вы можете сделать здесь. Если у Вас есть идеи о
      том, как можно сделать этот сайт лучше, пожалуйста, пишите нам.
      Мы действительно ценим Ваш отзыв.
    %p.pull-right
      = link_to "Facebook", "https://www.facebook.com/ezpoisk", target: "_blank"
      = link_to "Google", "https://plus.google.com/communities/107591116080815357420", target: "_blank"
      = link_to "Vkontakte",  "https://vk.com/ezpoiskusa", target: "_blank"
    %br/

    %h4
      Copyright © ezpoisk #{Time.now.year}
