.row.white.footer.text-muted
  .col-sm-4
    .text-right
      %ul.list-unstyled
        %li= link_to 'Недвижимость', main_app.ezrealty_re_agencies_path, target: "_blank"
        %li= link_to 'Услуги', main_app.services_path, target: "_blank"
        %li= link_to 'Работа', main_app.ezjob_job_agencies_path, target: "_blank"
        %li= link_to 'Продается', main_app.sales_path, target: "_blank"
        %li= link_to 'Новости', main_app.news_index_path, target: "_blank"
        %li= link_to 'О компании', "/about", target: "_blank"
        %li= link_to 'Terms of Service',  '/tos', target: '_blank'

  .col-sm-6
    %p.copyright
      &emsp;
      %strong ezpoisk
      \- это комьюнити портал, созданный с целью сблизить русскоговорящих людей
      проживающих в США. Здесь Вы сможете найти полезную и интересную информацию.
      Ищите ли Вы жилье, какой-либо вид услуг или же хотите рассказать о
      своем бизнесе - все это Вы можете сделать здесь. Если у Вас есть идеи о
      том, как можно сделать этот сайт лучше, пожалуйста, пишите нам.
      Мы действительно ценим Ваш отзыв.
    %br/
    %h4.text-center Copyright © ezpoisk #{Time.now.year}
    .row.text-center
      %ul.list-inline.social-buttons
        %li
          = link_to "https://www.facebook.com/ezpoisk", class: "facebook-bg", target: "_blank" do
            %i.fa.fa-facebook
        %li
          = link_to "https://plus.google.com/communities/107591116080815357420", class: "google-bg", target: "_blank" do
            %i.fa.fa-google
        %li
          = link_to "https://vk.com/ezpoiskusa", class: "vk-bg", target: "_blank" do
            %i.fa.fa-vk
