.row.white.footer.text-muted
  .col-sm-4
    .text-right
      %ul.list-unstyled
        %li= link_to 'Недвижимость', main_app.real_estate_re_agencies_path
        %li= link_to 'Услуги', main_app.services_path
        %li= link_to 'Работа', main_app.jobs_job_agencies_path
        %li= link_to 'Продается', main_app.sales_path
        %li= link_to 'Новости', main_app.news_index_path
        %li= link_to 'Контакты', main_app.new_feedback_path

  .col-sm-6
    %p.copyright
      &emsp;
      %strong eZpoisk
      это комьюнити портал, созданный с целью сблизить русскоговорящих людей
      проживающих в США. Здесь Вы сможете найти полезную и интересную информацию.
      Ищите ли Вы жилье, какой-либо вид услуг или же хотите рассказать о
      своем бизнесе - все это Вы можете сделать здесь. Если у вас есть идеи о
      том, как можно сделать этот сайт лучше, пожалуйста, пишите нам.
      Мы действительно ценим ваш отзыв.
    %br/
    %h4.text-center Copyright © eZpoisk #{Time.now.year}
