%nav.navbar.navbar-default.navbar-fixed-top.navbar-main
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false",
                            "data-target" => "#bs-example-navbar-collapse-1",
                            "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to main_app.root_path do
        = image_tag "logos/ezpoisk", class: "img-responsive"

    #bs-example-navbar-collapse-1.collapse.navbar-collapse

      %ul.nav.navbar-nav.navbar-left
        %li= link_to 'О компании', main_app.about_path
      / right links
      %ul.nav.navbar-nav.navbar-right

        / answers
        %li= link_to 'Ответы', main_app.questions_path
        / answers

        /ezrealty
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true",
                             "data-toggle" => "dropdown", :role => "button"}
            = t(:ezrealty)
            %span.caret
          %ul.dropdown-menu
            %li= link_to t(:agencies), main_app.ezrealty_re_agencies_path
            %li= link_to "Финансирование", main_app.ezrealty_re_finances_path
            %li= link_to t(:private), main_app.ezrealty_re_privates_path
            %li= link_to t(:commercial), main_app.ezrealty_re_commercials_path
        / ezrealty

        / jobs
        %li.dropdown
          %a.dropdown-toggle{ "aria-expanded" => "false",
                              "aria-haspopup" => "true",
                              "data-toggle" => "dropdown",
                              :role => "button"}
            Работа
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to t(:agencies), main_app.ezjob_job_agencies_path
            %li
              = link_to 'Работа', main_app.ezjob_jobs_path
        / jobs

        / services
        %li= link_to "Услуги", services_path
        -# %li.dropdown
        -#   %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true",
        -#                      "data-toggle" => "dropdown", :role => "button"}
        -#     Услуги
        -#     %span.caret
        -#   %ul.dropdown-menu
        -#     - SERVICE_CATEGORIES.keys.each do |category|
        -#       %li= link_to category, main_app.services_path(category: category)
        -# / services

        / sale
        %li= link_to "Продается", sales_path
        -# %li.dropdown
        -#   %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true",
        -#                      "data-toggle" => "dropdown", :role => "button"}
        -#     Продается
        -#     %span.caret
        -#   %ul.dropdown-menu
        -#     - SALE_CATEGORIES.each do |category|
        -#       %li= link_to category, main_app.sales_path(category: category)
        -# / sale

        / news
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true",
                             "data-toggle" => "dropdown", :role => "button"}
            Новости
            %span.caret
          %ul.dropdown-menu

            %li= link_to t(:news), main_app.news_index_path
            %li= link_to "Гороскопы", main_app.horoscopes_path(title: "БЛИЗНЕЦЫ")
        / news

        / dashboard
        %li.dropdown
          %a.dropdown-toggle{ "aria-expanded" => "false",
                              "aria-haspopup" => "true",
                              "data-toggle" => "dropdown",
                              :href => "#",
                              :role => "button" }
            - if user_signed_in?
              %strong= current_user.email
            - else
              = t(:dashboard)
            %span.caret
          %ul.dropdown-menu
            %li
              %a{ "data-target" => "#new", "data-toggle" => "modal", :role => "button" }
                Новое объявление
            %li= link_to "Панель управления", main_app.dashboard_path
            %li.divider{:role => "separator"}
            - if user_signed_in?
              %li= link_to t(:sign_out), main_app.destroy_user_session_path, method: :delete
            - else
              %li= link_to t(:sign_in), "", "data-target": "#new_session_modal", "data-toggle": "modal", id: "login_link"

        / dashboard
      / right links

    /.navbar-collapse
  /.container-fluid
