/ Modal
#new.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title
          Подайте объявление в раздел:

      .modal-body
        .list-group
          = link_to "Частная Недвижимость", new_dashboard_re_private_path, class: 'list-group-item'
          = link_to "Коммерческая Недвижимость", new_dashboard_re_commercial_path, class: 'list-group-item'
          = link_to "Работа", new_dashboard_job_path, class: 'list-group-item'
          = link_to "Продается", new_dashboard_sale_path, class: 'list-group-item'
          = link_to new_dashboard_service_path, class: 'list-group-item' do
            -# %span.sidebar-icon
            -#   %i.fa.fa-dollar
            Услуги

        .list-group
          = link_to "Задать Вопрос", new_question_path, class: 'list-group-item'
          = link_to "Добавить Новость", new_dashboard_post_path, class: 'list-group-item'
          = link_to new_dashboard_partner_path, class: 'list-group-item' do
            %span.sidebar-icon
              %i.fa.fa-dollar
            Создать Рекламный Блок
      / .modal-body

      .modal-footer
        %button.btn.btn-block.mobile-btn{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}= t(:close)
