/ common
-if params[:state_id].present?
  - State.where(id: params[:state_id]).map(&:name).each do |name|
    .btn.btn-sm.search_param= name

-if params[:city_id].present?
  - City.where(id: params[:city_id]).map(&:name).each do |name|
    .btn.btn-sm.search_param= name

-if params[:geo_scope].present? && params[:geo_scope][:within].present?
  .btn.btn-sm.search_param #{params[:geo_scope][:within]} миль

-if params[:geo_scope].present? && params[:geo_scope][:origin].present?
  .btn.btn-sm.search_param От: #{params[:geo_scope][:origin]}
// common

// re_privates
-if params[:sorted].present?
  .btn.btn-sm.search_param Сортировать: #{params[:sorted]}

-if params[:post_type].present?
  .btn.btn-sm.search_param #{params[:post_type]}

-if params[:min_price].present?
  .btn.btn-sm.search_param  min $#{params[:min_price]}

-if params[:max_price].present?
  .btn.btn-sm.search_param  max $#{params[:max_price]}

-if params[:duration].present?
  .btn.btn-sm.search_param  #{params[:duration]}

-if params[:rooms].present?
  .btn.btn-sm.search_param  Комнат: #{params[:rooms]}

-if params[:baths].present?
  .btn.btn-sm.search_param  Ванных: #{params[:baths]}

-if params[:fee] == "0"
  .btn.btn-sm.search_param  Без комиссии
// re_privates

/ re_commercial
-if params[:category].present?
  .btn.btn-sm.search_param  #{params[:category]}

/ services
-if params[:subcategory].present?
  .btn.btn-sm.search_param  #{params[:subcategory]}
// services

/ sales
-if params[:keyword].present?
  .btn.btn-sm.search_param  #{params[:keyword]}
// sales
