= title("")

/ DESCKTOP
.hidden-xs
  = link_to "Назад", :back, class: "btn btn-primary"
  %br
  %br

  .col-md-12
    = render template, record: record

  %div
    / Nav tabs
    %ul.nav.nav-tabs{:role => "tablist"}

      %li.hidden-xs.active{:role => "presentation"}
        %a{"aria-controls" => "foo", "data-toggle" => "tab", :href => "#foo", :role => "tab"} Карта

      %li{:role => "presentation"}
        %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#contacts", :role => "tab"} Адрес / Контакты

      - unless record.description.blank?
        %li{:role => "presentation"}
          %a{"aria-controls" => "description", "data-toggle" => "tab", :href => "#description", :role => "tab"} Описание

    / Nav tabs
    %hr
      / Tab panes
      .tab-content
        #foo.tab-pane.fade.in.active.hidden-xs{:role => "tabpanel"}
          = render "shared/show/map", record: record

        #contacts.tab-pane.fade{:role => "tabpanel"}
          = render "shared/show/contacts", record: record

        - unless record.description.blank?
          #description.tab-pane.fade{:role => "tabpanel"}
            .post-item-description.white-block
              = sanitize record.description
    %br/
/ /DESCKTOP

/ MOBILE
.visible-xs
  .row.mobile-secondary
    .col-xs-12
      = link_to '<', :back, class: "mobile-btn mobile-back-btn"
  .row
    .col-xs-12
      = render template, record: record
  %div
    / Nav tabs
    %ul.nav.nav-tabs.mobile-nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#mob-contacts", :role => "tab"} Адрес / Контакты

      - if record.class.method_defined?(:pictures) && record.pictures.any?
        %li{:role => "presentation"}
          %a{"aria-controls" => "pictures", "data-toggle" => "tab", :href => "#mob-pictures", :role => "tab"} Фото

      - if record.description.present?
        %li{:role => "presentation"}
          %a{"aria-controls" => "description", "data-toggle" => "tab", :href => "#mob-description", :role => "tab"} Описание
    / /Nav tabs
    %hr
      / Tab panes
      .tab-content
        #mob-contacts.tab-pane.fade.in.active{:role => "tabpanel"}
          = render "shared/show/contacts", record: record

        - if record.class.method_defined?(:pictures) && record.pictures.any?
          #mob-pictures.tab-pane.fade{:role => "tabpanel"}
            = render "shared/show/mob_pictures", record: record

        - unless record.description.blank?
          #mob-description.tab-pane.fade{:role => "tabpanel"}
            .post-item-description.white-block
              = sanitize record.description
    %br/
/ /MOBILE
