.hidden-xs
  #wrapper
    .overlay
    / Sidebar
    %nav#sidebar-wrapper.navbar.navbar-inverse.navbar-fixed-top.shadow{role: "navigation"}
      %ul.nav.sidebar-nav
        %li.active
          = link_to root_path do
            %span.sidebar-icon
              %i.fa.fa-home
            Домашняя

        %li
          %hr.post-devider

        /ezrealty
        %li.dropdown
          %a.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
            %span.sidebar-icon
              %i.fa.fa-hospital-o
            = t(:ezrealty)
            .pull-right
              %span.caret
          %ul.dropdown-menu{role: "menu"}
            %li= link_to t(:agencies), main_app.ezrealty_re_agencies_path
            -# %li= link_to "Финансирование", main_app.ezrealty_re_finances_path
            %li= link_to t(:private), main_app.ezrealty_re_privates_path
            %li= link_to t(:commercial), main_app.ezrealty_re_commercials_path


        / jobs
        %li.dropdown
          %a.dropdown-toggle{"data-toggle": "dropdown", href: "#"}
            %span.sidebar-icon
              %i.fa.fa-list-ul
            Работа
            .pull-right
              %span.caret
          %ul.dropdown-menu{role: "menu"}
            %li= link_to t(:agencies), main_app.ezjob_job_agencies_path
            %li= link_to "Объявления", main_app.ezjob_jobs_path

        %li
          = link_to services_path do
            %span.sidebar-icon
              %i.fa.fa-balance-scale
            Услуги
        %li
          = link_to sales_path do
            %span.sidebar-icon
              %i.fa.fa-shopping-bag
            Продается

        %li
          %hr.post-devider

        %li
          = link_to main_app.questions_path do
            %span.sidebar-icon
              %i.fa.fa-users
            Комьюнити
        %li
          = link_to main_app.news_index_path do
            %span.sidebar-icon
              %i.fa.fa-globe
            Новости

        %li
          %hr.post-devider

        %li
          = link_to main_app.about_path do
            %span.sidebar-icon
              %i.fa.fa-heart
            О компании
