.hidden-xs
  %ul.nav.nav-tabs
    %li
      = link_to t('agencies'),
        real_estate_re_agencies_path,
        class: "#{'active' if cp(real_estate_re_agencies_path)}"
    %li
      = link_to t('private'),
        real_estate_re_privates_path,
        class: "#{'active' if cp(real_estate_re_privates_path)}"
    %li
      = link_to t('commercial'),
        real_estate_re_commercials_path,
        class: "#{'active' if cp(real_estate_re_commercials_path)}"

    / <li><a href="/real_estate/posts" target="blank"> Блог </a></li>
%br/
