.fixed
  / Button trigger modal
  %button.btn.btn-block.btn-success{ "data-target" => "#new",
                           "data-toggle" => "modal",
                           :role => "button" }
    = t(:new_post)

  %br/
  %ul.nav.home-sidebar.grey-block
    %li
      = link_to real_estate_re_agencies_path do
        %span.glyphicon.glyphicon-home{"aria-hidden" => "true"}
        = t(:real_estate)
    %li
      = link_to services_path do
        %span.glyphicon.glyphicon-folder-open{"aria-hidden" => "true"}
        Услуги
    %li
      = link_to jobs_job_agencies_path do
        %span.glyphicon.glyphicon-th-list{"aria-hidden" => "true"}
        Работа
    %li
      = link_to news_index_path do
        %span.glyphicon.glyphicon-globe{"aria-hidden" => "true"}
        Новости
    %li
      = link_to sales_path do
        %span.glyphicon.glyphicon-search{"aria-hidden" => "true"}
        Продается
