.row.main-post.white-block
  .col-md-12
    - if current_user.try(:admin)
      %h4.main-title= link_to @main.title, edit_news_path(@main)
    - else
      %h4.main-title= link_to @main.title, news_path(@main)
    .col-md-5.hidden-xs.main-text
      = strip_tags @main.body.truncate(250)
      = link_to "читать дальше", news_path(@main)
    .col-md-7.hidden-xs.main-image= image_tag @main.logo, class: "img-responsive"
