.visible-xs
  %div
    / Nav tabs
    %ul.nav.nav-tabs.mobile-nav-tabs.text-center{:role => "tablist"}
      %li.text-center.active{:role => "presentation"}
        %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#home", :role => "tab"} Объявления
      %li.text-center{:role => "presentation"}
        %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#profile", :role => "tab"} Новости
      %li.text-center{:role => "presentation"}
        - if user_signed_in?
          %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#messages", :role => "tab"} Аккаунт
        - else
          = link_to t(:sign_in), "", "data-target": "#new_session_modal", "data-toggle": "modal", role: "button", id: "login_link"
    / Tab panes
    .tab-content
      %br/
      #home.tab-pane.active{:role => "tabpanel"}
        %ul.list-group
          = link_to ezrealty_re_agencies_path, class: "mobile-link" do
            %li.list-group-item Агентства недвижимости
          -# = link_to ezrealty_re_finances_path, class: "mobile-link" do
          -#   %li.list-group-item Финансирование
          = link_to ezrealty_re_privates_path, class: "mobile-link" do
            %li.list-group-item Частная недвижимость
          = link_to ezrealty_re_commercials_path, class: "mobile-link" do
            %li.list-group-item Коммерческая недвижимость
          = link_to ezjob_job_agencies_path, class: "mobile-link" do
            %li.list-group-item Агентства по трудоустройству
          = link_to ezjob_jobs_path, class: "mobile-link" do
            %li.list-group-item Работа
          = link_to services_path, class: "mobile-link" do
            %li.list-group-item Услуги
          = link_to sales_path, class: "mobile-link" do
            %li.list-group-item Продается

      #profile.tab-pane{:role => "tabpanel"}
        %ul.list-group
          = link_to questions_path, class: "mobile-link" do
            %li.list-group-item Ответы
          = link_to news_index_path, class: "mobile-link" do
            %li.list-group-item Новости

      #messages.tab-pane{:role => "tabpanel"}
        %ul.list-group
          = link_to dashboard_path do
            %li.list-group-item.mobile-link Мои объявления
          = link_to dashboard_favorites_path do
            %li.list-group-item.mobile-link Избранное

        %ul.list-group
          = link_to "#new", "data-toggle": "modal" do
            %li.list-group-item.mobile-link Подать объявление
          -# reklama
          -# = link_to dashboard_partners_path do
          -#   %li.list-group-item.mobile-link Реклама
          = link_to edit_user_registration_path do
            %li.list-group-item.mobile-link Личные данные

        %ul.list-group
          = link_to main_app.destroy_user_session_path, method: :delete do
            %li.list-group-item.mobile-link Выйти
