.white-block
  %h1.lenta-title
    = link_to questions_path, target: "_blank", class: "ez" do
      %span.ez.orange ez
      %span.ez.blue answer
    %span.pull-right= l Date.current, format: :long
  %hr.lenta/

  - @homepage.questions(18).map do |q|
    .panel.panel-default.home-panel
      .panel-body
        %h2.post-title= link_to q.title, q, target: "_blank"
        %span #{q.impressions_count} просмотров,
        %span #{q.answers_count} ответов
%br/
