= title("Бесплатные объявления в США")
= desc("eZpoisk (easy poisk) - форум русскоговорящих людей в Америке. Обьявления, Квартиры, Работа, Адвокаты, Услуги, Новости. Полезная информация об иммиграции в США")
= content_for :top_partner do
  = render "home/carousel"

/ DESKTOP
.hidden-xs
  .row
    .col-md-6.hidden-sm.hidden-xs
      = render "home/main_post"
      %br/
      = render "home/users_posts"
    .col-md-6.posts
      .col-md-12.white-block.padding-vertical-10
        %span.lenta
          %strong ЛЕНТА НОВОСТЕЙ
        %span.pull-right= l Date.current, format: :long
        %hr#lenta/
        = render @homepage.news_posts(29)

  %br/
  .row.visible-lg.white-block
    - @homepage.articles.each do |p|
      = link_to news_path(p) do
        .col-md-2.article.padding-vertical-10
          = image_tag p.logo_url(:small), class: "img-responsive article-img"
          %span= p.title

/ MOBILE
= render "home/mobile_index"
