= title("EZPOISK - Информационный портал русскоговорящих людей в США")
= desc("EZPOISK (easy poisk) - Портал русскоговорящих людей в Америке. Обьявления, Квартиры, Работа, Адвокаты, Услуги. Полезная информация об иммиграции в США")
- content_for :partners_top do
  = render "shared/partners/top"

/ DESKTOP
.hidden-xs
  .row
    .col-md-6.col-lg-4
      = render "home/questions"
    .col-md-6.col-lg-4
      = render "home/users_posts"
    .hidden-md.col-lg-4
      = render "home/news_posts"

/ MOBILE
= render "home/mobile_index"
