= title("EZPOISK - Информационный портал русскоговорящих людей в США")
= desc("EZPOISK (easy poisk) - Портал русскоговорящих людей в Америке. Обьявления, Квартиры, Работа, Адвокаты, Услуги. Полезная информация об иммиграции в США")
- content_for(:sidebar) do
  = render "home/sidebar"

/ DESKTOP
.hidden-xs.col-sm-12
  - @listings.each do |p|
    = template_for(p)

/ MOBILE
= render "home/mobile_index"
