= title("Бесплатные обьявления в США")
= desc("eZpoisk (easy poisk) - форум русскоговорящих людей в Америке. Обьявления, Квартиры, Работа, Адвокаты, Услуги, Новости. Полезная информация об иммиграции в США")

/ show on desktop
.col-sm-12.hidden-xs
  = render "home/main_post"

  %br/
  .row
    .posts.white-block
      = render @posts
      %br/
  %br/

/ on cell
.visible-xs
  %table.table.stable-striped
    - @posts.each do |p|
      %tr
        %td= link_to p.title, news_path(p)
