= title("EZPOISK - Комьюнити русскоговорящих людей в США")
= desc("EZPOISK (easy poisk) - Портал русскоговорящих людей в Америке. Обьявления, Квартиры, Работа, Адвокаты, Услуги, Новости. Полезная информация об иммиграции в США")
- content_for :partners_top do
  = render "shared/partners/top"

/ DESKTOP
.hidden-xs
  .row
    .col-md-6
      = render "home/questions"
    .col-md-6
      = render "home/main_post"

  .row
    .col-md-7.hidden-sm
      .col-md-12#recent-posts
        %h4 Последние объявления
      .col-sm-12
        = render "home/users_posts"
    .col-md-5
      = render "home/news_posts"



/ MOBILE
= render "home/mobile_index"
