= title("ezpoisk - комьюнити русскоговорящих людей в США")
= desc("ezpoisk (easy poisk) - портал русскоговорящих людей в Америке. Обьявления, Квартиры, Работа, Адвокаты, Услуги, Новости. Полезная информация об иммиграции в США")
-# = content_for :top_partner do
-#   = render "home/home_partner"

/ DESKTOP
.hidden-xs
  .row
    .visible-lg.col-lg-6
      = render "home/users_posts"
    .col-sm-12.col-lg-6
      = render "home/main_post"
  .row
    .col-sm-12.col-lg-6
      = render "home/questions"
    .col-sm-12.col-lg-6
      = render "home/news_posts"

/ MOBILE
= render "home/mobile_index"
