= title("Бесплатные обьявления в США")
- content_for :left_sidebar do
  = render 'home/left_sidebar'
/modals
= render 'home/new_post_modal'

/ Main
.row.main-post.grey-block
  / Main post
  .col-md-12
    %h4.main-title= link_to @main.title, "http://#{@main.link}", target: "blank"
    .col-md-5.main-text
      = @main.description
    .col-md-7.main-image= image_tag @main.logo, class: "img-responsive"
  / Main post

%br/
.row
  .posts.grey-block
    = render @posts

%br/
.row
  .col-md-12.text-center
    = link_to "Читать дальше",
              news_index_path,
              class: "btn btn-default btn-large btn-big"
%br/
/ Main
