= bootstrap_form_for(@post, url: url) do |f|
  = f.text_area :text,
                label: 'Содержание',
                class: "summernote"
  %hr/
  = f.check_box :main, label: 'Главная?'
  = f.file_field :image
  %hr/
  = f.check_box :show_on_homepage, label: 'На домашнюю?'
  = f.text_field :logo, label: '* Лого'
  .actions
    = f.submit "Сохранить", class: "btn btn-primary", id: "details-save-btn"
