= bootstrap_form_for(@post, url: url) do |f|
  %br/
  .field
    = f.text_field :logo, label: '* Лого'
  -# .field
  -#   = f.text_area :body,
  -#                 label: 'Содержание',
  -#                 class: "summernote"
  .field
    = f.check_box :important, label: 'Важная ?'
  .field
    = f.check_box :main, label: 'Главная ?'
  .actions
    = f.submit "Сохранить", class: "btn btn-primary", id: "details-save-btn"
