= bootstrap_form_for(@post, url: url) do |f|
  = hidden_field_tag 'post[user_id]', current_user.id
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-8
      = f.text_field :title
      = f.text_area :description, label: 'Описание', rows: 4
      = f.text_area :text, label: 'Содержание', class: "news-summernote"
    .col-md-4
      = f.text_field :image_remote_url, label: '* Лого (585x329)'
      = f.text_field :video_url, label: "Video Url (youtube)"
      = f.check_box :main, label: 'Главная?'
      = f.check_box :show_on_homepage, label: 'В ленту?'
      = f.check_box :interesting, label: 'Выделить?'

      %hr/
      = f.text_field :link
      .actions
        = f.submit "Сохранить", class: "btn btn-primary", id: "details-save-btn"
      %br/
