.row
  %h4.title
    %a{:href => "/news/#{post.id}"}
      %strong= post.title
  %span.pull-right.text-muted
    %em= post.created_at.to_formatted_s(:long)
  .col-lg-4.col-md-4.col-sm-4
    %a{:href => "/news/#{post.id}"}
      - if post.picture.try(:url)
        %img.img-responsive{:alt => "#{post.title}", :src => "#{post.picture.url}"}/
      - else
        = image_tag('community.jpg', alt: 'Placeholder-image', class: "img-responsive")
  .col-lg-8.col-md-8
    %p= sanitize post.body.truncate(300)
%hr/
