= title("Новости, информация об иммиграции в США - ezpoisk")
= desc("EZPOISK - полезная информация о русской иммиграции в США. Новости, статьи, полезные советы.")
- content_for :secondary_navbar do
  = render 'news/navbar'
- content_for :side do
  = render "news/main"

.row
  .col-sm-6
    = render "news/questions"
  .col-sm-6
    = render "news/news_posts"

.row
  .text-center
    = paginate @main, :theme => 'twitter-bootstrap-3'
