= title("|Новости, США, Россия, Украина, Молдова ...")
= desc("eZpoisk - полезная информация о русской иммиграции в США. Новости, статьи, полезные советы.")
-content_for :secondary_navbar do
  = render 'news/navbar'

.hidden-lg.hidden-md
  = render "news/dropdown"

/ Main
= render @posts
= render "shared/pagination", records: @posts
