= title("Новости, информация об иммиграции в США - ezpoisk")
= desc("ezpoisk - полезная информация о русской иммиграции в США. Новости, статьи, полезные советы.")
-content_for :secondary_navbar do
  = render 'news/navbar'
= stylesheet_link_tag "shared/bootstrap-xl"

.row
  .col-xs-12.col-lg-6.white
    .row
      .hidden-xs.col-sm-5.col-lg-5
        = render "news/questions"
      / first

      .col-sm-7.col-lg-7
        = render "news/news_posts"
      / second

  .col-xs-12.col-lg-6
    = render "news/main"

  // third

.row
  .text-center
    = paginate @main, :theme => 'twitter-bootstrap-3'
