= title("ezpoisk - #{@post.title}")
- content_for :secondary_navbar do
  = render 'news/navbar'
= stylesheet_link_tag "shared/bootstrap-xl"

.row
  .col-md-8
    .row
      .col-xs-12
        %h1.news-post-show-title= @post.title
        - if @post.link.present?
          .pull-right
            = link_to "Источник", "http://#{@post.link}", class: "text-muted", target: "blank", :rel => 'nofollow'
        .fb-like{"data-action": "like", "data-href": news_url(@post), "data-layout": "button_count", "data-share": "true", "data-show-faces": "true"}
        - if @current_user.try(:admin?)
          = link_to "Редактировать ", edit_news_path(@post), class: "text-muted"
        %br/
        %br/
        -# todo change to large
        = image_tag @post.logo_url, class: "img-responsive center-block news-show-image"

        %p= sanitize @post.text
      // main body of the post

    .row
      .col-xs-12
        .fb-comments{"data-href" => news_url(@post), "data-numposts" => "5"}

    .row
      - @side_posts.each_with_index do |post, i|
        - if i < 9
          .col-xs-6.col-md-4
            .white.article
              = link_to news_path(post) do
                = image_tag post.logo_url, class: "image-responsive"
                %h5.caption= post.title
          / clearfix every 3 posts
          - if (i+1) % 3 == 0
            .clearfix
  %br/

  .col-md-4
    .row
      .white-block
        - @side_posts.each_with_index do |post, i |
          - if i > 8 && i < 13
            = link_to news_path(post) do
              = image_tag post.logo_url, class: "image-responsive"
              %h3.news-posts-title= post.title
              %br/
  // right side posts
%br/

.row
  .hidden-xs
    = render "news/carousel"
