= title("#{@post.title} - ezpoisk")
= desc("EZPOISK - #{@post.description || @post.text.truncate(160)}")
- content_for :head do
  %meta{property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] }/
  %meta{property: "og:type", content: "article"}/
  %meta{property: "og:url", content: news_url(@post) }/
  %meta{property: "og:title", content: @post.title}/
  %meta{property: "og:image", content: @post.logo_url(:large)}/
  %meta{property: "og:description", content: @post.description || strip_tags(@post.text).truncate(200)}/

- content_for :secondary_navbar do
  = render 'news/navbar'

- content_for :side do
  = render "news/show/side"

.row
  .white-block
    %h1.news-post-show-title= @post.title
    = image_tag @post.logo_url(:large), class: "img-responsive center-block news-show-image"
    %br/
    .news-post-show-text= sanitize @post.text
    - if @post.video_url.present?
      .embed-responsive.embed-responsive-16by9
        = embed(@post.video_url)

%br/
.row
  .col-xs-12
    .pull-right
      - if @current_user.try(:admin?)
        = link_to "Редактировать ", edit_news_path(@post), class: "text-muted"
        %nbsp
      - if @post.link.present?
        = link_to "Источник", "http://#{@post.link}", class: "text-muted", target: "blank", :rel => 'nofollow'
    = render "shared/social", count: @post.impressions_count

    .row
      .col-xs-12
        .fb-comments{"data-href": news_url(@post), "data-numposts": "5"}
%br/
%br/
= render "shared/partners/bottom"
