= title("ezpoisk - #{@post.title}")
- content_for :secondary_navbar do
  = render 'news/navbar'

= link_to 'Исправить', edit_news_path(@post) if current_user.try(:admin)

.row
  .col-md-8
    .row
      .col-xs-12.white-block
        %h1.post-show-title= @post.title
        - if @post.image.present?
          .col-xs-12.col-md-5.pull-right= image_tag @post.logo_url, class: "img-responsive center-block"
        %p= sanitize @post.text
        - if @post.link.present?
          %span.pull-right
            = link_to "Источник", "http://#{@post.link}", target: "blank", :rel => 'nofollow'

    .row
      %span= link_to "Вернуться назад", :back

    .row
      .pull-right.fb-like{"data-action": "like", "data-href": news_url(@post), "data-layout": "button_count", "data-share": "true", "data-show-faces": "true"}
      .fb-comments{"data-href" => news_url(@post), "data-numposts" => "5"}

.row
  .hidden-xs
    = render "news/carousel"
