= title("|Новости, США, Россия, Украина, Молдова ...")

/ Main
.row
  .article
    .col-md-12.white-block
      %h3.post-show-title= @post.title
      - if !@post.logo.blank?
        .col-md-5
          = image_tag @post.logo, class: "img-responsive"
          %br/
      %p= sanitize @post.body
      - if !@post.link.blank?
        %span.pull-right
          = link_to "Источник", "http://#{@post.link}", target: "blank", :rel => 'nofollow'
      %br/
      %br/

.row
  %br/
  %span= link_to "Вернуться назад", :back

%br/
.row
  .col-sm-12.comments
    = bootstrap_form_for(Comment.new) do |f|
      = hidden_field_tag :post_id, @post.id
      = f.text_area :body, label: "Оставьте свой коментарий", autofocus: true, rows: 3
      = f.submit "Добавить", class: "btn btn-primary"
    %br/
    = render @post.comments.includes(:user)
  / Main
