- content_for :left_sidebar do
  = render 'news/left_sidebar'

/ Main
%h3.post-title= @post.title
%br/
.col-sm-5
  = image_tag @post.logo, class: "img-responsive center-block"
= raw @post.body

%div
  %span.pull-right= link_to "Назад", :back
%br/
%br/

.col-sm-12.comments
  = bootstrap_form_for(Comment.new) do |f|
    = hidden_field_tag :post_id, @post.id
    = f.text_area :body, label: "Оставьте свой коментарий", autofocus: true
    = f.submit "Добавить", class: "btn btn-primary"
  %br/
  = render @post.comments.includes(:user)
/ Main
