= title("ezpoisk - #{@post.title}")
- content_for :secondary_navbar do
  = render 'news/navbar'
- content_for :head do
  %meta{property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] }/
  %meta{ property: "og:type", content: "article"}/
  %meta{property: "og:url", content: news_url(@post) }/
  %meta{property: "og:title", content: @post.title}/
  %meta{property: "og:image", content: @post.logo_url}/
  %meta{property: "og:description", content: @post.description || strip_tags(@post.text).truncate(200)}/


= stylesheet_link_tag "shared/bootstrap-xl"

.row
  .col-md-8
    .row
      .col-xs-12
        %h1.news-post-show-title= @post.title
        = image_tag @post.logo_url(:large), class: "img-responsive center-block news-show-image"

        %p= sanitize @post.text
      // main body of the post

    .row
      .col-xs-12
        - if @post.link.present?
          .pull-right
            - if @current_user.try(:admin?)
              = link_to "Редактировать ", edit_news_path(@post), class: "text-muted"
              %nbsp
            = link_to "Источник", "http://#{@post.link}", class: "text-muted", target: "blank", :rel => 'nofollow'
        = render "shared/social", url: news_url(@post)

    .row
      .col-xs-12
        .fb-comments{"data-href": news_url(@post), "data-numposts": "5"}

    .row
      - @side_posts.each_with_index do |post, i|
        - if i < 9
          .col-xs-6.col-md-4
            .white.article
              = link_to news_path(post) do
                = image_tag post.logo_url, class: "image-responsive"
                %h5.caption= post.title
          / clearfix every 3 posts
          - if (i+1) % 3 == 0
            .clearfix
  %br/

  .col-md-4
    .row
      .white-block
        - @side_posts.each_with_index do |post, i |
          - if i > 8 && i < 13
            = link_to news_path(post) do
              = image_tag post.logo_url, class: "image-responsive"
              %h3.news-posts-title= post.title
              %br/
  // right side posts
%br/

.row
  .hidden-xs
    = render "news/carousel"
