.row.answer
  .col-xs-12

    / User
    .row
      .hidden-xs.col-sm-1.qa-avatar
        = image_tag answer.user.avatar.url(:thumb), alt: answer.user.name, class: "img-responsive img-circle center-block"
      .col-xs-12.col-sm-11
        %h3.text-muted.question-author
          - if answer.user == current_user
            %i.fa.fa-cog.fa-lg.pull-right{"data-content" => "#{render 'questions/edit_answer', answer: answer}",
              "data-toggle" => "popover", "data-trigger" => "focus", :role => "button", :tabindex => "0", "data-placement" => "left"}
          = answer.user.name
          = ", #{answer.user.slug}" if answer.user.slug.present?
        %p #{answer.impressions_count} просмотров

    / edit form
    - if answer.user == current_user
      .col-xs-12
        .collapse{id: "editAnswer-#{answer.id}"}
          %br/
          = bootstrap_form_for answer do |f|
            = hidden_field_tag 'answer[question_id]', @question.id
            .field= f.text_area :text, hide_label: true, class: "summernote"
            .actions= f.submit 'Сохранить', class: 'btn btn-block btn-success'

    %br/
    / answer text
    .row
      .col-xs-12
        .text= sanitize answer.text
    %br/

    / voting_links
    .col-xs-12
      - if current_user
        = render "answers/voting_links", answer: answer
      - else
        = link_to "Войдите, чтобы голосовать", new_user_session_path
