.row.answer
  .col-xs-12

    / User
    .row
      .hidden-xs.col-sm-1.qa-avatar
        = image_tag answer.user.avatar.url(:thumb), alt: answer.user.name, class: "img-responsive img-circle center-block"
      .col-xs-12.col-sm-11
        %h3.text-muted.question-author
          = answer_name(answer)
          = ", #{answer.user.slug}" if answer.user.slug.present?
        %p #{answer.impressions_count} просмотров
        - if answer.user == current_user
          %p
            = link_to "редактировать", edit_question_answer_path(@question, answer), class: "text text-muted qa-links"
            = link_to 'удалить', answer_path(answer), class: "text text-muted qa-links", method: :delete, data: { confirm: I18n.t(:confirm) }

    %br/
    / answer text
    .row
      .col-xs-12
        -# todo-question is this ok?
        .text= raw answer.text
    %br/

    .col-xs-12
      / voting_links
      = current_user.voted_for?(answer) ? voted_answer_btn(answer) : upvote_answer_btn(answer)
      = link_to "Downvote", downvote_answer_path(answer), method: :put, remote: true, class: "text text-muted qa-links"
      = link_to "Коментарии", "#answer-comments", class: "text text-muted qa-links", "aria-expanded": "false", "data-toggle": "collapse"

      / comments
      #answer-comments.collapse
        .fb-comments{"data-href" => question_url(@question, answer: answer.id), "data-numposts" => "5"}
