- content_for :side do
  = render "dashboard/posts/rules"

= bootstrap_form_for([:dashboard, @post]) do |f|
  = f.file_field :image
  = f.text_field :title, label: '* Заголовок'
  = f.text_area :text, rows: 3, label: 'Краткое описание (100-160 символов)', class: "summernote"
  .actions
    = f.submit "Сохранить", id: "details-save-btn", class: "btn mobile-btn"
    - unless @post.new_record?
      = link_to 'Удалить', dashboard_post_path(@post), method: :delete, data: { confirm: I18n.t(:confirm) }, class: "btn mobile-btn btn-danger"
%br/
