= title("Агенства по трудоустройству в США. Помощь в поиске работы - eZpoisk")
= desc("eZpoisk - Объявления о приеме на работу, кадровые агентства в США: Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др.")
= render 'ezjob/job_agencies/search_modal'

/ Secondary navbar
.hidden-xs
  - content_for :secondary_navbar do
    = render "ezjob/navbar"
.visible-xs
  .row.mobile-secondary
    .col-xs-3
      = link_to '<', root_path, class: "mobile-btn mobile-back-btn"
    .col-xs-3
      = @job_agencies.total_count
    .col-xs-6
      = render 'ezjob/job_agencies/search_modal_trigger'
/ /Secondary navbar

/ MAIN content
.col-md-8
  / total
  .row.hidden-xs
    %h4.pull-right
      %a= "Всего #{@job_agencies.total_count}"
    = render 'ezjob/job_agencies/search_modal_trigger'
  / /total

  .row
    .col-xs-12
      - @job_agencies.each do |job_agency|
        = render 'dashboard/shared/company', record: job_agency

    .col-xs-12
      = render "shared/pagination", records: @job_agencies
