= title("Агенства по трудоустройству в США. Помощь в поиске работы - ezpoisk")
= desc("EZPOISK - Объявления о приеме на работу, кадровые агентства в США: Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др.")
= render 'ezjob/job_agencies/search_modal'
- content_for :secondary_navbar do
  = render "ezjob/navbar"

.col-md-8
  .row
    .visible-xs.col-xs-3= link_to '<', root_path, class: "mobile-btn mobile-back-btn"
    = render 'ezjob/job_agencies/search_modal_trigger'
    %br/
    .hidden-xs= render "shared/search_params"
  %br/

  .row
    .col-xs-12
      - @job_agencies.each do |job_agency|
        = render 'dashboard/shared/company', record: job_agency

    .col-xs-12
      = render "shared/pagination", records: @job_agencies
