= title("Агенства по трудоустройству в США. Помощь в поиске работы - ezpoisk")
= desc("EZPOISK - Объявления о приеме на работу, кадровые агентства в США: Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др.")
= render 'ezjob/job_agencies/search_modal'
- content_for :secondary_navbar do
  = render "ezjob/navbar"
- content_for :side do
  = render "shared/side/questions"
- content_for :search do
  .col-sx-12.search
    = link_to "Настроить фильтр", "", class: "btn mobile-btn", "data-target": "#jobAgenciesSearch", "data-toggle": :modal, role: :button
    .hidden-xs#search_params= render "shared/search_params"

.col-xs-12
  - @job_agencies.each do |job_agency|
    = render 'dashboard/shared/company', record: job_agency

.row
  .col-xs-12
    = render "shared/pagination", records: @job_agencies
