= bootstrap_form_for([:dashboard, @job]) do |f|
  / details
  .field
    = f.text_field :title, label: '* Заголовок'
  .field
    = f.select :post_type,
               JOB_TYPES,
               include_blank: true,
               label: '* Тип объявлния'
  .field
    = f.select :category,
               JOB_CATEGORIES,
               include_blank: true,
               label: '* Категория'

  / address
  .field
    = f.text_field :street, label: 'Улица'
  .field
    = form_state_select(f)
  .field
    = form_city_select(f, @job)
  .field
    = f.text_field :phone, label: '* Телефон'
  .field
    = f.email_field :email
  .field
    = f.check_box :active, label: 'Активно? *'
  .field
    - if @job.new_record? && !Rails.env.test?
      = recaptcha_tags
  %br/
  .hidden-xs
    .actions
      = f.submit "Сохранить", id: "details-save-btn", class: "btn btn-primary"
  .visible-xs
    .actions
      = f.submit "Сохранить", id: "details-save-btn", class: "btn mobile-btn btn-block"
  %br/
  = render "dashboard/shared/active_message"
