= bootstrap_form_for([:dashboard, @user]) do |f|
  .row
    .col-sm-6
      = f.text_field :name, label: "Ваше имя"
    .col-sm-6
      = f.text_field :site, label: "Ваша страница"
  .row
    .col-sm-6
      = f.text_field :phone, label: "Телефон"
    .col-sm-6
      = f.email_field :email
  .row
    .col-sm-6
      = form_state_select(f)
    .col-sm-6
      = form_city_select(f, @user)
  -# = f.password_field :current_password, label: "Введите пароль, чтобы подтвердить изменения"
  = f.text_field :slug, label: "Коротко о себе", placeholder: "Пару слов о том, кто Вы"
  = f.submit t('.update', :default => "Обновить"), class: "btn btn-success"
