<div class="hidden-xs">
  <ul class="nav nav-tabs">
    <li><%= link_to "Домой", real_estate_path %></li>
    <li>   Агенства  </li>
    <!-- <li>   Частная  </li> -->
    <!-- <li>   Коммерческая  </li> -->
    <!-- <li>   Open House  </li> -->
    <li><a href="/real_estate/posts" target="blank"> Блог </a></li>
  </ul>
</div>
<br>

<div class="row">

  <div class="col-lg-12 col-md-12 col-sm-12 index-img-link">
    <hr>
    <div class="row">
      <%= render 'real_estates/partials/agencies' %>
    </div>
    <hr>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 index-img-link">
    <hr>
    <div class="row">
      <%= render 'real_estates/partials/private' %>
    </div>
    <hr>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 index-img-link">
    <hr>
    <div class="row">
      <%= render 'real_estates/partials/commercial' %>
    </div>
    <hr>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 index-img-link">
    <hr>
    <div class="row">
      <%= render 'real_estates/partials/openhouse' %>
    </div>
    <hr>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 index-img-link">
    <hr>
    <div class="row">
      <%= render 'real_estates/partials/blog' %>
    </div>
    <hr>
  </div>
</div>
