= bootstrap_form_for @company do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :owner
  .field
    = f.text_field :title
  .field
    = f.text_field :phone
  .field
    = f.text_field :email
  .field
    = f.text_field :site
  .field
    = f.text_field :category
  .field
    = f.text_field :subcategory
  .field
    = f.check_box :contacted
  .field
    = f.check_box :contacted_by_serghei
  .field
    = f.check_box :contacted_by_greta
  .field
    = f.check_box :contacted_by_andrei
  .actions
    = f.submit 'Save'
