%h1 Listing companies

= link_to 'New Company', new_company_path, class: "btn btn-success"
%br/
%br/

.white-block
  %table.table.table-hover
    %thead
      %tr
        %th= link_to "Phone", companies_path(sort: "phone")
        %th= link_to "Email", companies_path(sort: "email")
        %th= link_to "Name", companies_path(sort: "name")
        %th Success

    %tbody
      - @companies.each do |company|
        %tr
          %td= link_to company.phone, edit_company_path(company)
          %td= link_to company.email, edit_company_path(company)
          %td= link_to company.name, edit_company_path(company)
          %td
            - if company.success
              %i.fa.fa-check.green-text
            - else
              %i.fa.fa-close.red-text

