%p#notice= notice

%p
  %b Email:
  = @company.email
%p
  %b Name:
  = @company.name
%p
  %b Phone:
  = @company.phone
%p
  %b Notes:
  = @company.notes

= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
