%p#notice= notice

%p
  %b Title:
  = @company.title
%p
  %b Owner:
  = @company.owner
%p
  %b Phone:
  = @company.phone
%p
  %b Email:
  = @company.email
%p
  %b Site:
  = @company.site
%p
  %b Category:
  = @company.category
%p
  %b Subcategory:
  = @company.subcategory
%p
  %b Contacted:
  = @company.contacted
%p
  %b Contacted by Serghei:
  = @company.contacted_by_serghei
%p
  %b Contacted by Greta:
  = @company.contacted_by_greta
%p
  %b Contacted by Andrei:
  = @company.contacted_by_andrei

= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
