= title("#{@re_commercial.address} #{@re_commercial.post_type} коммерческой недвижимости в США - ezpoisk")
= desc("#{@re_commercial.post_type}, #{@re_commercial.address}, #{@re_commercial.phone}. EZPOISK - снять/продать коммерческую недвижимость в США")
- content_for :head do
  %meta{property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] }/
  %meta{property: "og:type", content: "article"}/
  %meta{property: "og:url", content: re_commercial_url(@re_commercial) }/
  %meta{property: "og:title", content: @re_commercial.title}/
  %meta{property: "og:image", content: @re_commercial.logo_url}/
  %meta{property: "og:description", content: strip_tags(@re_commercial.description).truncate(200)}/

- content_for :sidebar do
  = render "shared/show/contacts", record: @re_commercial
  = render "re_commercials/details"

.show
  - if @re_commercial.pictures.any?
    .white-block
      %ul.pgwSlideshow
        - @re_commercial.pictures.each do |pic|
          %li
            = link_to pic.image.url do
              = image_tag pic.image.url(:large), alt: ""
    %hr.black-line/

.col-xs-12
  = render @re_commercial

- if @re_commercial.description?
  .col-xs-12.white-block
    .panel.panel-default
      .panel-body
        = sanitize @re_commercial.description

.col-xs-12
  = render 'shared/show/map', record: @re_commercial

.visible-xs
  = render "shared/show/contacts", record: @re_commercial
  = render "re_commercials/details"

.col-xs-12
= render "shared/partners/bottom"
