= title("#{params[:title]} | Гороскопы на день, месяц - eZpoisk")
- content_for :secondary_navbar do
  = render 'horoscopes/navbar'

.col-md-8.col-xs-12
  .col-md-12.white-block
    %h3.post-title= @record.title
    %h5
      %strong
        Гороскоп на день
        %span.text-muted (#{@record.updated_at.strftime("%B %d")})
    %p
      = @record.day_description
    %br/
    %h5
      %strong
        Гороскоп на месяц
        %span.text-muted (#{@record.updated_at.strftime("%B")})
    %p
      = @record.month_description
