%p
  %strong Phone
  = @re_private.phone
%p
  %strong Rooms
  = @re_private.rooms
%p
  %strong Space
  = @re_private.space
%p
  %strong Baths
  = @re_private.baths
%p
  %strong Post Type:
  = @re_private.post_type
%p
  %strong Duration:
  = @re_private.duration
%p
  %strong Apt:
  = @re_private.apt
%p
  %strong Street:
  = @re_private.street
%p
  %strong Description:
  = @re_private.description
%p
  %strong Price
  = @re_private.price
%p
  %strong Active:
  = @re_private.active
%p
  %strong State:
  = @re_private.state.name
%p
  %strong City:
  = @re_private.city.name
%p
  %strong User:
  = @re_private.user.email
