= bootstrap_form_for([:dashboard, @re_private]) do |f|
  / address
  .field
    = f.text_field :street, label: '* Улица'
  .field
    = form_state_select(f)
  .field
    = form_city_select(f, @re_private)

  / details
  .field
    = f.select :post_type,
                RE_TYPES,
                include_blank: true,
                label: '* Тип объявления'
  .field
    = f.select :duration,
               RE_DURATION,
               include_blank: true,
               label: '* Квартира сдается'
  .field
    = f.text_field :price, label: '* Цена (без пробелов)'
  .field
    = f.text_field :baths, label: 'Ванные'
  .field
    = f.text_field :space, label: "Площадь (sq. feet)"
  .field
    = f.text_field :rooms, label: '* Комнат'

  .field
    = f.text_field :phone, label: '* Телефон'

  .field
    .checkbox
      %label{:for => "re_private_active"}
        %input{:name => "re_private[active]", :type => "hidden", :value => "0"}
          %input#re_private_active{:checked => "checked", :name => "re_private[active]", :type => "checkbox", :value => "1"}
            Активно
      %i.fa.fa-question.my-q{"data-toggle" => "tooltip", "data-placement" => "right" , title: (t :active_tooltip) }

  .field
    .checkbox
      %label{:for => "re_private_fee"}
        %input{:name => "re_private[fee]", :type => "hidden", :value => "0"}
          %input#re_private_fee{:name => "re_private[fee]", :type => "checkbox", :value => "1"} Комиссия
      %i.fa.fa-question.my-q{"data-toggle" => "tooltip", "data-placement" => "right" , title: (t :commission_tooltip) }

  .field
    - if @re_private.new_record? && !Rails.env.test?
      = recaptcha_tags
  %br/
  .hidden-xs
    .actions
      = f.submit "Сохранить", id: "details-save-btn", class: "btn btn-primary"
      %i.fa.fa-question.my-q{"data-toggle" => "tooltip", "data-placement" => "right" , title: (t :save_tooltip) }
  .visible-xs
    .actions
      = f.submit "Сохранить", id: "details-save-btn", class: "btn mobile-btn btn-block"

- unless @re_private.new_record?
  %br/
  = link_to 'Удалить',
            dashboard_re_private_path(@re_private),
            method: :delete,
            data: { confirm: I18n.t(:confirm) },
            class: "btn btn-block mobile-btn btn-danger"
