= bootstrap_form_for([:dashboard, @re_private]) do |f|
  - if current_user.admin?
    .field
      = f.text_field :source, label: 'источник'

  / address
  .field
    = f.text_field :street, label: '* Улица'
  .field
    = form_state_select(f)
  .field
    = form_city_select(f, @re_private)

  / details
  .field
    = f.select :post_type,
                RE_TYPES,
                include_blank: true,
                label: '* Тип объявления'
  .field
    = f.select :duration,
               RE_DURATION,
               include_blank: true,
               label: '* Квартира сдается'
  .field
    = f.number_field :price, label: '* Цена (без пробелов)'
  .field
    = f.number_field :baths, label: 'Ванные'
  .field
    = f.number_field :space, label: "Площадь (sq. feet)"
  .field
    = f.select :rooms, ROOM_OPTIONS, label: "* Комнат"
  .field
    = f.text_field :phone, label: '* Телефон'
  .field
    = f.email_field :email, label: '* Email'

  .field
    = f.text_area :description, rows: 5, label: 'Описание', class: "summernote"

  .field
    = f.check_box :active, label: "Активно *"

  .field
    = f.check_box :fee, label: "Комиссия *"

  %br/
  .actions
    = f.submit "Сохранить", id: "details-save-btn", class: "btn mobile-btn"
    %i.fa.fa-question.my-q{"data-toggle": "tooltip", "data-placement": "right" , title: (t :save_tooltip) }

- unless @re_private.new_record?
  %br/
  = link_to 'Удалить',
            dashboard_re_private_path(@re_private),
            method: :delete,
            data: { confirm: I18n.t(:confirm) },
            class: "btn btn-block mobile-btn btn-danger"

%br/
%p
  %strong Активно * -
  = t :active_tooltip
%p
  %strong Комиссия * -
  = t :active_tooltip
