<%= form_for([:dashboard, @re_private]) do |f| %>
  <% if @re_private.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@re_private.errors.count, "error") %>
        prohibited this re_agency from being saved:
      </h2>

      <ul>
        <% @re_private.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :apt %><br>
    <%= f.text_field :apt %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :baths %><br>
    <%= f.text_field :baths %>
  </div>

  <div class="field">
    <%= f.label :space %><br>
    <%= f.text_field :space %>
  </div>

  <div class="field">
    <%= f.label :rooms %><br>
    <%= f.text_field :rooms %>
  </div>


  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>

  <div class="field">
    <%= f.label :fee %><br>
    <%= f.check_box :fee %>
  </div>

  <div class="field">
    <%= f.label :post_type %><br>
    <%= f.select(:post_type, %w(Продажа Аренда), include_blank: true)%>
  </div>

  <div class="field">
    <%= f.label :duration %><br>
    <%= f.select(:duration, %w(Час день Месяц), include_blank: true)%>
  </div>

  <div class="field">
    <%= f.label :state_id %><br>
    <%= f.select(:state_id,
                 State.all.collect {|s| [ s.name, s.id ] },
                 include_blank: true) %>
</div>
<div class="field">
  <%= f.label :city_id %><br>
  <% if @re_private.state %>
    <%= f.select(:city_id,
                 @re_private.state
                           .cities
                           .collect { |c| [c.name, c.id] })  %>
  <% else %>
    <%= f.select(:city_id,[]) %>
  <% end %>


</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
