.col-lg-12.col-md-12.col-sm-12.col-xs-12.post-item
  #logo.col-lg-4.col-md-4.col-sm-4.hidden-xs
    = image_tag record.logo_url(:medium),
                alt: record.logo_url(:medium),
                class: "img-responsive"
    - unless record.fee
      %h4.capture Без комиссии

  .col-lg-8.col-md-8.col-sm-8.col-xs-12
    / line 1
    %h3
      = link_to record.street, real_estate_re_private_path(record)

    / line 2
    %span= record.post_type
    %strong= "$#{record.price}"
    = "/#{record.duration}"
    %span.pull-right= "#{record.city.name}, #{record.state.name}"
    %hr.post-devider/

    / line 3
    = "комнаты: #{record.rooms}"
    =  " | ванные: #{record.baths}" unless record.baths.blank?
    = " | площадь:  #{record.space} ft" unless record.space.blank?
    %hr.post-devider/

    / line 4
    %span.glyphicon.glyphicon-phone= record.phone
    %hr.post-devider/

    / line 5
    %span= time_ago_in_words record.updated_at
