<p>
  <strong>Phone</strong>
  <%= @re_private.phone %>
</p>

<p>
  <strong>Rooms</strong>
  <%= @re_private.rooms %>
</p>

<p>
  <strong>Space</strong>
  <%= @re_private.space %>
</p>

<p>
  <strong>Baths</strong>
  <%= @re_private.baths %>
</p>

<p>
  <strong>Post Type:</strong>
  <%= @re_private.post_type %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @re_private.duration %>
</p>

<p>
  <strong>Apt:</strong>
  <%= @re_private.apt %>
</p>

<p>
  <strong>Street:</strong>
  <%= @re_private.street %>
</p>

<p>
  <strong>Description:</strong>
  <%= @re_private.description %>
</p>

<p>
  <strong>Price</strong>
  <%= @re_private.price %>
</p>

<p>
  <strong>Active:</strong>
  <%= @re_private.active %>
</p>

<p>
  <strong>State:</strong>
  <%= @re_private.state.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @re_private.city.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @re_private.user.email %>
</p>

<%= link_to 'Edit', edit_dashboard_re_private_path(@re_private) %> |
<%= link_to 'Back', dashboard_re_privates_path %>
