= form_tag real_estate_re_commercials_path,
           method: :get,
           class: "form-horizontal"

.form-group
  .col-sm-10
    %label
      Введите адрес и радиус поиска
    = origin_text_field_param
  .col-sm-2
    %label
      миль
    = within_text_field_param

%hr
%h5
  Либо выберите штат и город
.form-group
  = label_tag "Штат", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :state_id,
                 state_select_with_param,
                 include_blank: true,
                 class: "form-control state-select"

.form-group
  = label_tag "Город", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :city_id,
                 city_select_with_param,
                 include_blank: true,
                 class: "form-control city-select"

%hr/
%h5
  Детали поиска
.form-group
  = label_tag "Сортировать", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = sort_select

.form-group
  = label_tag "Тип обьявления", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :post_type,
                 options_for_select(RE_TYPES, params[:post_type]),
                 include_blank: true,
                 class: "form-control"

.form-group
  = label_tag "Категория", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :category,
                 options_for_select(RE_COMMERCIAL_CATEGORIES,
                                    params[:cateogry]),
                 include_blank: true,
                 class: "form-control"

.form-group
  = label_tag "Минимальная цена", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = text_field_tag :min_price, params[:min_price], class: "form-control"

.form-group
  = label_tag "Максимальная цена", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = text_field_tag :max_price, params[:max_price], class: "form-control"
