= form_tag real_estate_re_commercials_path,
           method: :get,
           class: "form-horizontal"

.form-group
  = label_tag "Сортировать", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :sort,
                 options_for_select({ "Цена вверх" => "price asc",
                                      "Цена вниз" => "price desc",
                                      "Площадь вверх" => "space asc",
                                      "Площадь вниз" => "space desc",
                                      "По дате" => "updated_at desc" },
                                      params[:sort] ),
                 include_blank: true,
                class: "form-control"

.form-group
  = label_tag "Штат", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :state_id,
                 options_from_collection_for_select(State.all,
                                                    :id,
                                                    :name,
                                                    params[:state_id]),
                 include_blank: true,
                 class: "form-control"

.form-group
  = label_tag "Город", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    -if params[:state_id].blank?
      = select_tag :city_id, [], class: "form-control"
    - else
      = select_tag :city_id,
          options_from_collection_for_select(State.find(params[:state_id]).cities,
                                                              :id,
                                                              :name,
                                                              params[:city_id]),
          include_blank: true,
          class: "form-control"

.form-group
  = label_tag "Тип обьявления", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :post_type,
                 options_for_select(["продажа", "аренда"], params[:post_type]),
                 include_blank: true,
                 class: "form-control"

.form-group
  = label_tag "Категория", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = select_tag :category,
          options_for_select(%w(офис торговля промышленность парковка другое),
                             params[:cateogry]),
                include_blank: true,
                class: "form-control"

.form-group
  = label_tag "Минимальная цена", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = text_field_tag :min_price, params[:min_price], class: "form-control"

.form-group
  = label_tag "Максимальная цена", nil,  class: "col-sm-5 control-label"
  .col-sm-5
    = text_field_tag :max_price, params[:max_price], class: "form-control"
