.row
  %h4.pull-right
    %a= "Всего #{@re_commercials.size}"
  = render 'real_estate/re_commercials/search_modal'
.row
  %hr/
  - @re_commercials.each do |re_commercial|
    = render 'dashboard/re_commercials/re_commercial',
             re_commercial: re_commercial
.row
  %hr/
  .text-center
    = paginate @re_commercials, :theme => 'twitter-bootstrap-3'
  %hr/
