= title("|Аренда, продажа коммерческой недвижимости в США")
- content_for :tab_links do
  = render 'layouts/tab_links/real_estate'

/ Main
.row
  %h4.pull-right
    %a= "Всего #{@re_commercials.total_count}"
  = render 'real_estate/re_commercials/search_modal'
.row
  %hr/
  - @re_commercials.each do |record|
    = render 'dashboard/re_commercials/re_commercial', record: record

= render "shared/pagination", records: @re_commercials
/ Main
.row
  .col-md-12
    %p
      Вряд ли в поисках
      %strong
        коммерческой недвижимости в Нью Йорке
      или в каком либо другом городе вы обойдетесь без помощи
      профессионалов в лице риэлтора, однако всегда полезно быть в курсе
      нынешного состояния дел на рынке недвижимости.
      Здесь вы всегда сможете следить за актульаными предложениями и выбрать
      подходящий под ваши уникальные требования вариант.
