- content_for :tab_links do
  = render 'layouts/tab_links/real_estate'

/ Main
.row
  %h4.pull-right
    %a= "Всего #{@re_commercials.total_count}"
  = render 'real_estate/re_commercials/search_modal'
.row
  %hr/
  - @re_commercials.each do |record|
    = render 'dashboard/re_commercials/re_commercial', record: record

= render "shared/pagination", records: @re_commercials
/ Main
