= title("|Аренда, продажа коммерческой недвижимости в США")
= desc("eZpoisk - Объявления о продаже и аренде коммерческой недвижимости - цены на офисы, склады и магазины в США: Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др.")
- content_for :secondary_navbar do
  = render "real_estate/navbar"

.col-md-8.col-xs-12
  .row
    %h4.pull-right
      %a= "Всего #{@re_commercials.total_count}"
    = render 'real_estate/re_commercials/search_modal'
  .row
    %hr/
    - @re_commercials.each do |record|
      = render 'dashboard/re_commercials/re_commercial', record: record

  = render "shared/pagination", records: @re_commercials
  .row
    .col-md-12
      %p
        Вряд ли в поисках
        %strong
          коммерческой недвижимости в Нью Йорке
        или в каком-либо другом городе вы обойдетесь без помощи профессионалов
        в лице риэлтора, однако всегда полезно быть в курсе нынешнего состояния
        дел на рынке недвижимости. Здесь вы всегда сможете следить за
        актуальными предложениями и выбрать подходящий под ваши
        уникальные требования вариант.
