.col-md-8
  %h2= t('.sign_in', :default => "Sign in")
  = bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %div
      = f.email_field :email
    %div
      = f.password_field :password
    - if devise_mapping.rememberable?
      %div
        = f.check_box :remember_me
    .hidden-xs
      = f.submit t('.sign_in', :default => "Sign in")
    .visible-xs
      = f.submit t('.sign_in', :default => "Sign in")

  = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary"
  = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-danger"

  = render "devise/shared/links"

