= title("|Работа, требуются, ищу...")
= desc("eZpoisk - Объявления о приеме на работу в США: Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др.")
- content_for :secondary_navbar do
  = render "jobs/navbar"

.col-md-8.col-xs-12
  .row
    %h4.pull-right
      %a= "Всего #{@jobs.total_count}"
    = render 'jobs/jobs/search_modal'
  .row
    %hr/
    - @jobs.each do |job|
      = render 'dashboard/jobs/job', record: job

  = render "shared/pagination", records: @jobs
  = link_to 'Новое обьявление', new_dashboard_job_path, class: "btn btn-success"
  %br/

  .row
    .col-md-12
      %h5
        Частные объявления о работе в Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др. городах.
