= title("|Работа, требуются, ищу...")
- content_for :tab_links do
  = render 'layouts/tab_links/jobs'

/ Main
.row
  %h4.pull-right
    %a= "Всего #{@jobs.total_count}"
  = render 'jobs/jobs/search_modal'
.row
  %hr/
  - @jobs.each do |job|
    = render 'dashboard/jobs/job', record: job

= render "shared/pagination", records: @jobs
/ Main

.row
  .col-md-12
    %h5
      Частные объявления о работе в Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др. городах.
