= title("|Работа, требуются, ищу...")
= desc("eZpoisk - Требуется на работу #{@job.title} - #{@job.category}")
- content_for :secondary_navbar do
  = render "jobs/navbar"

= render "shared/show",
          record: @job,
          template: 'dashboard/jobs/job'
