.col-md-12.white-block
  %h4 Пажалуйста, оставьте ваш отзыв
  .col-md-12
    = bootstrap_form_for @feedback do |f|
      .form-group
        = f.text_field :name, label: "Ваше имя", id: "feedback-name"
      .form-group
        = f.email_field :email, label: "Ваш email", id: "feedback-email"
      .form-group
        = f.text_area :body,
                      label: "Сообщение *",
                      rows: 3,
                      required: true,
                      id: "feedback-body"
      .form-group
        = f.submit class: "btn btn-default",
                   value: 'Оставить отзыв',
                   id: "feedback-submit"
      %hr

  %h4 Мои контакты
  .col-md-12
    %p
      email
      %strong andrew.motinga@gmail.com
    %p
      phone
      %strong 1(929) 293 5385

  = link_to 'Вернуться на главную', root_path
