= title("ezpoisk (easy poisk, изипоиск)")
.row
  .col-sm-12
    .about.white-block
      = image_tag "logos/ezpoisk", class: "img-responsive center-block"
      %hr/
      %p
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %strong.my-brand ezpoisk
        \- совершенно новый портал, предназначенный для русскоговорящего
        населения в Америке.  Здесь каждый может предложить или найти товар или
        услугу. Кроме того, общайтесь на форуме, просматривайте интересные статьи,
        задавайте вопросы и получайте ответы, читайте последние новости и
        создавайте их.  Наша команда работает не покладая рук, придумывая
        интересные проекты и ежедневно улучшая сайт. Мы только начинаем работу,
        поэтому мы рады будем Вашим предложениям и замечаниям. Мы не остановимся
        на достигнутом.

.row.hidden-xs
  %hr/
  - TEAM.each_pair do |member, props|
    .col-sm-4
      .col-sm-12
        = image_tag "team/#{member}", class: "img-responsive"
        .col-sm-12.white.team-block
          %h5.text-center.text-muted #{props[:name]}
          %hr.post-devider
          %ul.list-unstyled.text-center
            - if !props[:email].blank?
              %li
                %i.fa.fa-envelope-o
                #{props[:email]}
            - if !props[:skype].blank?
              %li
                %i.fa.fa-skype
                  #{props[:skype]}

%br/
%hr/
%br/
.row
  .col-md-12.white-block
    %h3.text-center Пишите нам
    .col-md-12
      = bootstrap_form_for @feedback do |f|
        .form-group
          = f.text_field :name, label: "Ваше имя", id: "feedback-name"
        .form-group
          = f.email_field :email, label: "Ваш email", id: "feedback-email"
        .form-group
          = f.text_area :body,
                        label: "Сообщение *",
                        rows: 3,
                        required: true,
                        id: "feedback-body"
        .form-group
          = f.submit class: "btn btn-default",
                     value: "Оправить",
                     id: "feedback-submit"
        %hr

    %h5= link_to 'Вернуться на главную', root_path
