= form_tag dashboard_path, method: :get, class: "form-horizontal"
.form-group
  = label_tag "Ключевое слово", nil,  class: "col-sm-3 control-label"
  .col-sm-9
    = text_field_tag :keyword, params[:keyword], class: "form-control"

.form-group
  = label_tag "Раздел", nil,  class: "col-sm-3 control-label"
  .col-sm-9
    = select_tag :model,
                 options_for_select(MODELS, params[:model]),
                 include_blank: true,
                 class: "form-control"
