= render 'dashboards/search_modal'

- content_for :secondary_navbar do
  = render "dashboards/navbar"

.row.search
  .visible-xs.col-xs-3
    = link_to '<', root_path, class: "mobile-btn mobile-back-btn"
  = render 'dashboards/search_modal_trigger'

.row
  .col-xs-12
    - @users_posts.each do |p|
      = template_for(p)

  .col-xs-12
    = render "shared/pagination", records: @users_posts
