<%= simple_form_for [forem, @forum, @topic], html: {class: "form-horizontal"}  do |f| %>
  <div class="form-group">
    <%= f.input :subject, input_html: {class: "form-control"}  %>
  </div>

  <%= f.simple_fields_for :posts do |post| %>
    <%= render :partial => "forem/posts/form", :locals => { :f => post }%>
  <% end %>

  <%= f.submit :class => "btn btn-primary" %>
<% end %>
