- if post.important
  .row.post-important
    .col-md-12
      .col-md-7.main-text
        - if post.from_rss
          %h4.main-title= link_to post.title, "http://#{post.link}", target: "blank"
        - else
          %h4.main-title= link_to post.title, news_path(post)
        = post.description
        %span.pull-right= time_ago_in_words post.created_at
      .col-md-5.main-image= image_tag post.logo, class: "img-responsive pull-right"
- else
  .row
    .col-sm-12.post-text
      %h4.post-title
        - if current_user.author?
          = link_to post.title, edit_news_path(post)
        - elsif
          = link_to post.title, "http://#{post.link}", target: "blank"
        - else
          = link_to post.title, news_path(post)
      - if !post.logo.blank?
        .col-sm-2.post-image
          = image_tag post.logo, class: "img-responsive"
      = post.description
      %span.pull-right= "#{time_ago_in_words post.created_at} назад"

%hr.post-devider/
