.row.post
  .col-sm-12.post-text
    %h4.post-title
      - if post.from_rss
        = link_to post.title, "http://#{post.link}", target: "blank"
      - else
        = link_to post.title, news_path(post)
    .col-sm-2.post-image
      = image_tag post.logo, class: "img-responsive"
    = post.description

%hr.post-devider/
