edit page
= @post.title
.row

= bootstrap_form_for(@post) do |f|
  = f.text_field :title
  = f.text_area :text
  = f.text_field :image_remote_url
  = f.check_box :visible
  = f.submit "Сохранить", id: "details-save-btn", class: "btn mobile-btn"

%br/
.row
  = @post.link

%br/
.container
  .row
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{src: "http://#{@post.link}"}
