= title("#{@post.title} - ezpoisk")
= desc("#{@post.text.truncate(160)}")
- content_for :head do
  %meta{property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] }/
  %meta{property: "og:type", content: "article"}/
  %meta{property: "og:url", content: post_url(@post) }/
  %meta{property: "og:title", content: @post.title}/
  %meta{property: "og:image", content: @post.logo_url(:large)}/
  %meta{property: "og:description", content: @post.text.truncate(200)}/

- content_for :secondary_navbar do
  = render "shared/navbars/post"

- content_for :side do
  = render "posts/show/side"

.col-xs-12
  .row
    .white-block
      %h1.news-post-show-title= @post.title
      = image_tag @post.logo_url(:large), class: "img-responsive center-block news-show-image"
      %br/
      -# todo-question ok?
      .news-post-show-text= raw @post.text

      %span.author
        %strong
          автор
          = link_to @post.user.name_to_show, profile_path(@post.user.profile)

  %br/
  .row
    .col-xs-12
      .pull-right
        - if current_user.try(:admin?)
          = link_to "Редактировать ", edit_post_path(@post), class: "text-muted"
      = render "shared/social", count: @post.impressions_count

      .row
        .col-xs-12
          .fb-comments{"data-href": post_url(@post), "data-numposts": "5"}
  %br/
  %br/
  = render "shared/partners/bottom"
