<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
aria-haspopup="true" aria-expanded="false">
  <% if user_signed_in? %>
    <strong><%= current_user.email %></strong>
  <% else %>
    Панель управления
  <% end %>
  <span class="caret"></span>
</a>

<ul class="dropdown-menu">
  <% if !user_signed_in? %>
    <li><%= link_to 'Войти', new_user_session_path %></li>
    <li><%= link_to 'Регистрация', new_user_registration_path %></li>
    <li role="separator" class="divider"></li>
  <% end %>
  <li><%= link_to "Аккаунт", dashboard_path %></li>
  <% if user_signed_in? %>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Выход", destroy_user_session_path %></li>
  <% end %>
</ul>
