= bootstrap_form_for([:dashboard, current_user.profile]) do |f|
  .field= f.text_field :street, label: "Улица"

  .row
    .col-sm-6
      .field
        = form_state_select(f)
    .col-sm-6
      .field
        = form_city_select(f, current_user.profile)
  .actions= f.submit "Обновить", class: "btn btn-success", id: "address-save-btn"
