.row
  .col-lg-4.col-md-4.col-sm-4.hidden-xs
    %br/
    = link_to real_estate_re_agency_path re_agency do
      - if re_agency.try(:logo)
        - image_tag(re_agency.try(:logo),
                    alt: re_agency.title,
                    class: "img-responsive center-block")
      - else
        = image_tag('photo_default',
                    alt: 'Placeholder-image',
                    class: "img-responsive center-block")

  .col-lg-8.col-md-8.col-sm-8.col-xs-12
    %h3.text-center
      = link_to re_agency.title, real_estate_re_agency_path(re_agency)
    / line 1
    %strong
      %a{:href => "http://#{re_agency.site}", :target => "blank"}
        = re_agency.site
    %hr.post-devider/
    / line 2
    %span= re_agency.street
    %hr.post-devider/
    / line 3
    %span.glyphicon.glyphicon-phone
      = re_agency.phone
    %hr.post-devider/
    / line 4
    %span= re_agency.email
