= title("Агенства Недвижимости в США")
- content_for :tab_links do
  = render 'layouts/tab_links/real_estate'

/ Main
.row
  %h4.pull-right
    %a= "Всего #{@re_agencies.total_count}"
  = render 'real_estate/re_agencies/search_modal'

.row
  %hr/
  - @re_agencies.each do |re_agency|
    = render 'dashboard/re_agencies/re_agency', record: re_agency

= render "shared/pagination", records: @re_agencies

.row
  .col-md-12
    %p
      Любая деятельность, неизвестная нам, сперва кажется очень сложной,
      но если в ней разобраться и уточнить все нюансы, все оказывается
      достаточно легко. Доверяясь
      %strong
        Агенствам недвижимости
      вы сэкономите время,
      зачастую получите лучшую цену, а так же быстрый доступ к изменчивому рынку.
      А самое главное - обезопасите сделку.
      Здесь вы сможете найти
      %strong
        Агента недвижимости в США
      говорящего на русском языке.
/ Main
