= title("|Агентства Недвижимости в США")
- content_for :secondary_navbar do
  = render "real_estate/navbar"

/ Main
.row
  %h4.pull-right
    %a= "Всего #{@re_agencies.total_count}"
  = render 'real_estate/re_agencies/search_modal'

.row
  %hr/
  - @re_agencies.each do |re_agency|
    = render 'dashboard/re_agencies/re_agency', record: re_agency

= render "shared/pagination", records: @re_agencies

.row
  .col-md-12
    %h5
      Агентства недвижимости в Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др. городах.
    %p
      Любая деятельность, неизвестная нам, сперва кажется очень сложной,
      но если в ней разобраться и уточнить все нюансы, все оказывается
      достаточно легко. Доверяясь
      %strong
        Агентствам недвижимости
      вы сэкономите время, зачастую получите лучшую цену, а также быстрый
      доступ к изменчивому рынку. А самое главное, обезопасите сделку.
      Здесь вы сможете найти
      %strong
        Агента недвижимости в США
      ,говорящего на русском языке.
/ Main
