.row
  %h4.pull-right
    %a= "Всего #{@total}"
  = render 'real_estate/re_agencies/search_modal'
.row
  %hr/
  - @re_agencies.each do |re_agency|
    = render 'dashboard/re_agencies/re_agency', re_agency: re_agency

- if @re_agencies.empty?
  .row
    = render "shared/no_posts_message"
- else
  .row
    %hr/
    .text-center
      = paginate @re_agencies, :theme => 'twitter-bootstrap-3'
    %hr/
