= title("|Агенства Недвижимости в США")
= desc("eZpoisk - Русские Агентства Недвижимости в США #{@re_agency.title} #{@re_agency.city.name} #{@re_agency.state.name}")
- content_for :secondary_navbar do
  = render "real_estate/navbar"

.col-md-8.col-xs-12
  = render "shared/show",
            record: @re_agency,
            template: 'dashboard/re_agencies/re_agency'
