.row.post-item
  .col-xs-4.col-sm-4.logo-js
    = link_to link_from_controller(record) do
      = image_tag record.logo.url(:medium), alt: record.title, class: "img-responsive"
  .col-xs-8.col-sm-8
    / line 1
    .hidden-xs
      %h1.title
        = link_to record.title, link_from_controller(record)
    .visible-xs
      %h1.mob-title= link_to record.title, link_from_controller(record)

    /line 3
    - if record.street.present?
      %h5= record.street
      %hr.post-devider/

    /line 3
    %span.glyphicon.glyphicon-earphone
    %span.company-phone= record.phone
    %hr.post-devider/

    / line 3
    .hidden-xs
      - if record.try(:site).present?
        %strong= link_to record.site, "http://#{record.site}"
        %hr.post-devider/

    / line 4
    .hidden-xs
      %span= time_ago_in_words record.created_at
      назад
    .pull-right
      = render "shared/favor_links", record: record
