.row.post-item.white-block{ class: ("user-hidden" if record.user_hidden?(current_user)), "data-hidden": record.id }
  .col-xs-4.col-sm-4.logo-js
    = link_to link_from_controller(record) do
      = image_tag record.logo.url(:medium), alt: record.title, class: "img-responsive"
  .col-xs-8.col-sm-8
    / line 1
    .hidden-xs
      - if home_controller?
        %h5.title= link_to record.title, link_from_controller(record)
      - else
        %h1.title= link_to record.title, link_from_controller(record)
    .visible-xs
      %h1.mob-title= link_to record.title, link_from_controller(record)

    /line 2
    - if record.street.present?
      %h5= record.street
      %hr.post-devider/

    /line 3
    - if record.try(:short_description).present?
      .hidden-xs
        %p.text-muted= record.short_description
        %hr.post-devider/

    /line 4
    %span.glyphicon.glyphicon-earphone
    %span.company-phone= record.phone
    %hr.post-devider/

    / line 6
    .hidden-xs
      - if record.try(:site).present?
        %strong= link_to record.site, "http://#{record.site}"

    / line 7
    .pull-right= render "shared/favor_links", record: record
    %span= time_ago_in_words record.updated_at
