/ DESKTOP
.hidden-xs
  .row
    = link_to :back do
      %span.glyphicon.glyphicon-triangle-left
      %button.btn.btn-primary Назад
  .row
    .col-md-8
      %h4.text-center Новое объявление в раздел "#{title}"
      = render "form"
/ /DESKTOP

/ MOBILE
.visible-xs
  .row
    .col-xs-3
      = link_to '<', :back, class: "mobile-btn mobile-back-btn"
    .col-xs-9
      %h6.mobile-category Новое объявление в раздел "#{title}"
  .row
    .col-xs-12
      = render "form"
/ /MOBILE
