= bootstrap_form_for([:dashboard, @re_commercial]) do |f|
  / address
  .field
    = f.text_field :street, label: '* Улица'

  .field
    = form_state_select(f)
  .field
    = form_city_select(f, @re_commercial)

  / details
  .field
    = f.select :post_type,
               RE_TYPES,
               include_blank: true,
               label: '* Тип объявления'
  .field
    = f.select :category,
                RE_COMMERCIAL_CATEGORIES,
                include_blank: true,
                label: "* Категория"
  .field
    = f.text_field :price, label: '* Цена'
  .field
    = f.text_field :phone, label: '* Телефон'
  .field
    = f.text_field :space, label: 'Площадь'

  .field
    = f.check_box :active, label: "Активно *"

  .field
    / TODO: move Rails.env to tests/ remove captcha?
    - if @re_commercial.new_record? && !Rails.env.test?
      = recaptcha_tags
  %br/
  .hidden-xs
    .actions
      = f.submit "Сохранить", id: "details-save-btn", class: "btn btn-primary"
      %i.fa.fa-question.my-q{"data-toggle" => "tooltip", "data-placement" => "right" , title: (t :save_tooltip) }
  .visible-xs
    .actions
      = f.submit "Сохранить", id: "details-save-btn", class: "btn mobile-btn btn-block"

- unless @re_commercial.new_record?
  %br/
  = link_to 'Удалить',
            dashboard_re_commercial_path(@re_commercial),
            method: :delete,
            data: { confirm: I18n.t(:confirm) },
            class: "btn btn-block mobile-btn btn-danger"

%br/
%p
  %strong Активно * -
  = t :active_tooltip
