= bootstrap_form_for([:dashboard, @re_commercial]) do |f|
  .row
    .col-sm-8
      = f.text_field :street, label: '* Улица'
    .col-sm-4
      = f.number_field :price, label: '* Цена'
  = f.text_area :description, rows: 5, label: 'Описание', class: "summernote"

  .row
    .col-sm-6
      = f.text_field :phone, label: 'Телефон'
    .col-sm-6
      = f.email_field :email, label: 'Email'

  .row
    .col-sm-6
      = f.select :post_type, RE_TYPES, include_blank: true, label: '* Тип объявления'
    .col-sm-6
      = f.select :category, RE_COMMERCIAL_CATEGORIES, include_blank: true, label: "* Категория"

  .row
    .col-sm-6
      = form_state_select(f)
    .col-sm-6
      = form_city_select(f, @re_commercial)

  .row
    .col-sm-6
      = f.number_field :space, label: 'Площадь'
    .col-sm-6
      = f.check_box :active, label: "Активно *"

  %br/
  .actions
    = f.submit "Сохранить", id: "details-save-btn", class: "btn mobile-btn"
    - unless @re_commercial.new_record?
      = link_to "Удалить", dashboard_re_commercial_path(@re_commercial), method: :delete, data: { confirm: I18n.t(:confirm) }, class: "btn mobile-btn btn-danger"

%br/
%p
  %strong Активно * -
  = t :active_tooltip
