.col-lg-12.col-md-12.col-sm-12.col-xs-12.post
  #logo.col-lg-4.col-md-4.col-sm-4.hidden-xs
    %br/
    = image_tag re_commercial.logo_url(:medium),
                alt: re_commercial.logo_url(:medium),
                class: 'img-responsive center-block'

  .col-lg-8.col-md-8.col-sm-8.col-xs-12
    /line 1
    %h3
      = link_to re_commercial.street,
                real_estate_re_commercial_path(re_commercial)

    / line 2
    %span.post-type
      %span.type
        %strong= re_commercial.post_type
    %strong
      $ #{re_commercial.price}
    %hr.post-devider/

    / line 3
    - if re_commercial.category
      %span.upcase
        %strong= re_commercial.category |
    - if re_commercial.space
      = re_commercial.space
      ft.
    - if re_commercial.phone
      %span.pull-right
        %span.glyphicon.glyphicon-phone
        = re_commercial.phone
    %hr.post-devider/

    / line 4
    автор:
    %strong= re_commercial.user.email
    %span.pull-right= re_commercial.updated_at

.row
%br/
