.col-lg-12.col-md-12.col-sm-12.col-xs-12.post-item
  #logo.col-lg-4.col-md-4.col-sm-4.hidden-xs
    %br/
    = image_tag record.logo_url(:medium),
                alt: record.logo_url(:medium),
                class: "img-responsive"

  .col-lg-8.col-md-8.col-sm-8.col-xs-12
    /line 1
    %h3= link_to record.street, real_estate_re_commercial_path(record)

    / line 2
    %strong= "$ #{record.price}"
    %span= record.post_type
    %span.pull-right= "#{record.city.name}, #{record.state.name}"
    %hr.post-devider/

    / line 3
    %span= record.category
    = "/ #{record.space }ft." unless record.space.blank?
    %span.pull-right.glyphicon.glyphicon-phone= record.phone
    %hr.post-devider/
