.row.post-item
  .col-xs-4.col-sm-4.logo-js
    = link_to link_from_controller(record) do
      = image_tag record.logo_url, class: "img-responsive",
                  alt: "#{record.post_type} коммерческой недвижимости - #{record.street} #{record.phone}"

  .col-xs-8.col-sm-8
    / line 1
    .hidden-xs
      %h1.title= link_to record.title, link_from_controller(record)
    .visible-xs
      %h1.mob-title= link_to record.title, link_from_controller(record)

    / line 2
    .hidden-xs
      %strong= "$ #{record.price}"
      %span= record.post_type
      %hr.post-devider/
    .visible-xs
      %strong= "$ #{record.price}"
      %span= record.post_type
      %hr.post-devider/


    / line 2
    .hidden-xs
      %span= record.category
      = "/ #{record.space }ft." unless record.space.blank?
      %hr.post-devider/

    / line 3
    %span.glyphicon.glyphicon-earphone
    %span.company-phone= record.phone
    %hr.post-devider/

    / line 4
    .hidden-xs
      %span= time_ago_in_words record.created_at
      назад
    .pull-right
      = render "shared/favor_links", record: record
