= link_to 'Создать новое',
          new_dashboard_re_commercial_path,
          class: 'btn btn-success'
%br/
%br/

- if @re_commercials.any?
  %table.table.table-hover
    %thead
      %tr
        %th{:colspan => "4"}
    %tbody
      - @re_commercials.each do |re_commercial|
        %tr
          %td
            = link_to re_commercial.street,
                      edit_dashboard_re_commercial_path(re_commercial)
          %td= re_commercial.active ? "Активно" : "Не актвино"
          %td
            = link_to 'Редактировать',
                       edit_dashboard_re_commercial_path(re_commercial)
          %td= link_to 'Удалить', dashboard_re_commercial_path(re_commercial),
                        method: :delete,
                        data: { confirm: I18n.t(:confirm) }

  / Table
  = render "shared/pagination", records: @re_commercials

- else
  %p= I18n.t(:no_messages)
