<p>
  <strong>Categroy</strong>
  <%= @re_commercial.category %>
</p>

<p>
  <strong>Price</strong>
  <%= @re_commercial.price %>
</p>

<p>
  <strong>Space</strong>
  <%= @re_commercial.space %>
</p>

<p>
  <strong>Post Type:</strong>
  <%= @re_commercial.post_type %>
</p>

<p>
  <strong>Street:</strong>
  <%= @re_commercial.street %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @re_commercial.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @re_commercial.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @re_commercial.active %>
</p>

<p>
  <strong>State:</strong>
  <%= @re_commercial.state.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @re_commercial.city.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @re_commercial.user.email %>
</p>

<%= link_to 'Edit', edit_dashboard_re_commercial_path(@re_commercial) %> |
<%= link_to 'Back', dashboard_re_commercials_path %>
