.row
  .partner
    = link_to "social/15" do
      = image_tag "partners/foamarin", class: "img-responsive center-block"

      .social-links
        = link_to "sales/15", target: "blank" do
          = image_tag "social/ez"
        = link_to "https://www.facebook.com/FleuristeDesigner-108892579445826/", target: "blank" do
          = image_tag "social/facebook"
        = link_to "https://vk.com/club36292764", target: "blank" do
          = image_tag "social/vk"
        = link_to "https://vk.com/away.php?to=http%3A%2F%2Fok.ru%2Fgroup%2F54336425754629", target: "blank" do
          = image_tag "social/odnoclassniki"
