= title("Продажа, Автомобили, Электроника, Одежда, Магазины, Распродажи в США - ezpoisk")
= desc("EZPOISK - Обьявления о продаже в США: Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др.")
= render 'sales/search_modal'
- content_for :secondary_navbar do
  = render "shared/navbars/sale"
- content_for :side do
  = render "shared/side/questions"
- content_for :search do
  = render "sales/search"

.col-xs-12
  = render @sales

.row
  .col-xs-12
    = render "shared/pagination", records: @sales
