= title("|Продажа, автомобили, электроника, рапродажи")
= sales_description_meta(params[:category])
- content_for :secondary_navbar do
  = render "sales/navbar"

/ Main
.row
  %h4.pull-right
    %a= "Всего #{@sales.total_count}"
  = render 'sales/search_modal'
.row
  %hr/
  - @sales.each do |sale|
    = render 'dashboard/sales/sale', record: sale

= render "shared/pagination", records: @sales
/ Main

.row
  .col-md-12
    %p
      %strong
        Продажа
      автомобилей, товаров для дома, для детей, одежда, электроника,
      домашние животные и растения в Нью Йорке, Сан-Франциско, Лос-Анджелес,
      Хьюстон, Майами и др. городах.
