= title("Продажа, Автомобили, Электроника, Одежда, Магазины, Распродажи в США - ezpoisk")
= desc("EZPOISK - Обьявления о продаже в США: Нью Йорке, Сан-Франциско, Лос-Анджелес, Хьюстон, Майами и др.")
- content_for :secondary_navbar do
  = render "sales/navbar"
= render 'sales/search_modal'
= content_for :top_partner do
  = render "sales/partner"

/ Secondary navbar
.visible-xs
  .row.mobile-secondary
    .col-xs-3
      = link_to '<', root_path, class: "mobile-btn mobile-back-btn"
    .col-xs-3
      = @sales.total_count
    .col-xs-6
      = render 'sales/search_modal_trigger'
/ /Secondary navbar

/ MAIN content
.col-md-8
  / total
  .row.hidden-xs
    .col-md-12
      %h4.pull-right
        %a= "Всего #{@sales.total_count}"
      = render 'sales/search_modal_trigger'
      %br/
      = render "shared/search_params"
  %br/
  / /total

  .row
    .col-xs-12
      - @sales.each do |sale|
        = render 'dashboard/sales/sale', record: sale

    .col-xs-12
      = render "shared/pagination", records: @sales
