/ Main
.row
  %h4.pull-right
    %a= "Всего #{@sales.total_count}"
  = render 'sales/search_modal'
.row
  %hr/
  - @sales.each do |sale|
    = render 'dashboard/sales/sale', record: sale

= render "shared/pagination", records: @sales
/ Main
