= title("|Продажа, автомобили, электроника, рапродажи")
/ Main
.row
  %h4.pull-right
    %a= "Всего #{@sales.total_count}"
  = render 'sales/search_modal'
.row
  %hr/
  - @sales.each do |sale|
    = render 'dashboard/sales/sale', record: sale

= render "shared/pagination", records: @sales
/ Main

.row
  .col-md-12
    %p
      %strong
        Продажа
      автомобилей, вещей для дома, для детей, одежда, электроника,
      домание животные и растения в Нью Йорке, Сан-Франциско,
      Лос-Анджелес, Хьюстон, Майми и др. городах
