= title("#{@sale.title} #{@sale.state.name} - ezpoisk")
= desc("ezpoisk - Продается #{@sale.category}, #{@sale.title}, #{@sale.address}")
- content_for :secondary_navbar do
  = render "sales/navbar"

.row.show
  .col-xs-12.col-md-7
    %ul.pgwSlideshow
      - @sale.pictures.each do |pic|
        %li
          = link_to pic.image.url do
            = image_tag pic.image.url(:large), alt: ""
  /images

  .col-xs-12.col-md-5
    .visible-xs
      %hr.black-line/
    = render "shared/show/contacts", record: @sale
  / right block

%hr.black-line/

.row
  .col-xs-12.col-md-8
    = render "dashboard/sales/sale", record: @sale

%hr.black-line/

.row
  .hidden-xs.col-sm-12.col-md-8
    = render 'shared/show/map', record: @sale
  .col-xs-12.col-md-4
    %li.list-group-item
      Цена: #{@sale.price}
    %li.list-group-item
      Категория: #{@sale.category}
    %li.list-group-item
      Подано: #{time_ago_in_words @sale.created_at} назад

%hr.black-line/

- if @sale.description.present?
  .row
    .hidden-xs.col-sm-12
      .white-block
        = sanitize @sale.description
