= title("#{@sale.title} #{@sale.state.name} - ezpoisk")
= desc("EZPOISK - Продается #{@sale.category}, #{@sale.title}, #{@sale.address}")
- content_for :head do
  %meta{property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] }/
  %meta{property: "og:type", content: "article"}/
  %meta{property: "og:url", content: sale_url(@sale) }/
  %meta{property: "og:title", content: @sale.title}/
  %meta{property: "og:image", content: @sale.logo_url}/
  %meta{property: "og:description", content: @sale.description}/

- content_for :secondary_navbar do
  = render "sales/navbar"
- content_for :side do
  = render "shared/show/contacts", record: @sale
  .col-xs-12
    %li.list-group-item
      Цена: #{@sale.price}
    %li.list-group-item
      Категория: #{@sale.category}
    %li.list-group-item
      Подано: #{time_ago_in_words @sale.created_at} назад

- if @sale.pictures.any?
  .row.show
    .white-block
      %ul.pgwSlideshow
        - @sale.pictures.each do |pic|
          %li
            = link_to pic.image.url do
              = image_tag pic.image.url(:large), alt: ""
.row
  %hr.black-line/
.row
  .col-xs-12
    = render "dashboard/sales/sale", record: @sale
.row
  %hr.black-line/

.row
  = render 'shared/show/map', record: @sale

- if @sale.description.present?
  .row
    .white-block
      = sanitize @sale.description
    %hr.black-line/
