= title("|Продажа, автомобили, электроника, рапродажи")
= desc("eZpoisk - Продается #{@sale.category}, #{@sale.title}, #{@sale.address}")
- content_for :secondary_navbar do
  = render "sales/navbar"

= render "shared/show",
          record: @sale,
          template: 'dashboard/sales/sale'
