= title("#{@sale.title} #{@sale.state.name} - ezpoisk")
= desc("EZPOISK - Продается #{@sale.category}, #{@sale.title}, #{@sale.address}")
- content_for :head do
  %meta{property: "fb:app_id", content: ENV["FACEBOOK_APP_ID"] }/
  %meta{property: "og:type", content: "article"}/
  %meta{property: "og:url", content: sale_url(@sale) }/
  %meta{property: "og:title", content: @sale.title}/
  %meta{property: "og:image", content: @sale.logo_url}/
  %meta{property: "og:description", content: stripped_200(@sale.description)}/

- content_for :secondary_navbar do
  = render "shared/navbars/sale"
- content_for :side do
  = render "shared/show/contacts", record: @sale
  .row
    .col-xs-12.white-block
      %li.list-group-item
        Цена: #{@sale.price}
      %li.list-group-item
        Категория: #{@sale.category}
      %li.list-group-item
        Подано: #{time_ago_in_words @sale.created_at} назад

- if @sale.pictures.any?
  .show
    .white-block
      %ul.pgwSlideshow
        - @sale.pictures.each do |pic|
          %li
            = link_to pic.image.url do
              = image_tag pic.image.url(:large), alt: ""

.col-xs-12
  = render @sale

- if @sale.description.present?
  .col-xs-12.white-block
    = sanitize @sale.description

.col-xs-12
  = render 'shared/show/map', record: @sale

= render "shared/partners/bottom"
