!!!
%html
  %head
    = content_for?(:head) ? yield(:head) : ''
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= yield(:title)
    %meta{:charset => "UTF-8"}/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "description", content: "#{yield(:description)}"}

    = favicon_link_tag "favicon"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", async: async_js?
    = csrf_meta_tags

  %body
    = render "shared/navbar"

    .container
      = render "shared/partners/top"
      .row
        = yield :secondary_navbar if content_for?(:secondary_navbar)
        .notice= render 'shared/notice' unless devise_controller?
        = yield :search if content_for?(:search)
        .col-md-7
          = yield
        .col-md-5
          .col-md-11.col-md-offset-1
            = render "shared/partners/side"
            = yield :side if content_for?(:side)

    .hidden-xs= render 'shared/footer'

    / MODALS & services
    = render "shared/new_post_modal"
    = render "shared/new_session_modal"
    = render "shared/services"
