<!DOCTYPE html>
<html>
  <head>
    <title>Chogde</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/notice' %>
    <%= render 'shared/xs_links' %>

    <div class="container">
      <%= yield %>
    </div>

    <div class="hidden-xs">
      <%= render 'shared/footer' %>
    </div>

  </body>
</html>
