!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "eZpoisk #{yield(:title)}"
    %meta{:charset => "UTF-8"}/
    %meta{ name: "google-site-verification", content: "aMlxCG3XekLdKIq1jjGJkMfb2M7mO4cKfDMhf4BUWhg" }
    %meta{ name: "msvalidate.01", content: "EAE9E1BC865C52CA068724F63495FF7B" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "description", content: "#{yield(:description)}"}

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render "shared/feedback_modal"
    = render "shared/google_analytics"
    #wrap
      = render 'shared/navbar'
      = render 'shared/notice'

      .container
        - if content_for?(:secondary_navbar)
          = yield :secondary_navbar

        / left sidebar
        - if content_for?(:left_sidebar)
          .col-lg-2.col-md-3.hidden-sm.hidden-xs
            = yield :left_sidebar
        / left sidebar

        / Main
        - if content_for?(:left_sidebar)
          .col-lg-7.col-md-9
            = yield
        - else
          .col-lg-7.col-md-8
            = yield

        / Main

        / right sidebar
        .col-lg-3.col-md-3.hidden-sm.hidden-xs.pull-right{ class: ("col-lg-offset-1" if !content_for?(:left_sidebar)) }
          - if content_for?(:right_sidebar)
            = yield :right_sidebar
          - else
            = render "shared/right_sidebar"
        / right sidebar

      #push

      #footer.hidden-sm.hidden-xs
        = render 'shared/footer'

