!!!
%html
  %head
    = content_for?(:head) ? yield(:head) : ''
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= yield(:title)
    %meta{:charset => "UTF-8"}/
    -# %meta{ name: "msvalidate.01", content: "EAE9E1BC865C52CA068724F63495FF7B" }
    -# %meta{:content => "51a7cc061bfa5774", :name => "yandex-verification"}/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "description", content: "#{yield(:description)}"}

    = favicon_link_tag "favicon"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", async: async_js?
    = csrf_meta_tags

  %body
    .hidden-xs= render 'shared/navbar'
    .hidden-xs= yield :top_partner if content_for?(:top_partner)
    .hidden-xs
      %br/
    .visible-xs= render 'shared/mobile_navbar'
    .notice= render 'shared/notice'

    / CONTENT
    .container
      .row= yield :secondary_navbar if content_for?(:secondary_navbar)
      = yield
    / CONTENT

    .hidden-xs= render 'shared/footer'

    / MODALS & services
    -# todo move to shared
    = render "home/new_post_modal"
    = render "shared/new_session_modal"
    = render "shared/services"
