!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "eZpoisk #{yield(:title)}"
    %meta{:charset => "UTF-8"}/
    %meta{ name: "google-site-verification", content: "aMlxCG3XekLdKIq1jjGJkMfb2M7mO4cKfDMhf4BUWhg" }
    %meta{ name: "msvalidate.01", content: "EAE9E1BC865C52CA068724F63495FF7B" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "description", content: "#{yield(:description)}"}

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render "shared/feedback_modal"
    = render "shared/google_analytics"
    #wrap
      = render 'shared/navbar'
      = render 'shared/notice'

      .container
        .row
          = yield :secondary_navbar if content_for?(:secondary_navbar)
        .row
          .container
            .col-md-8.col-xs-12
              = yield
            .col-md-4
              = yield :news if content_for :news
      = render 'shared/footer'
