!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "eZpoisk #{yield(:title)}"
    %meta{:charset => "UTF-8"}/
    %meta{ name: "google-site-verification", content: "aMlxCG3XekLdKIq1jjGJkMfb2M7mO4cKfDMhf4BUWhg" }
    %meta{ name: "msvalidate.01", content: "EAE9E1BC865C52CA068724F63495FF7B" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "description", content: "#{yield(:description)}"}

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    / MODALS & services
    = render "home/new_post_modal"
    = render "shared/feedback_modal"
    = render "shared/google_analytics"
    = render "shared/slaask"

    / /MODALS & services
    .hidden-xs= render 'shared/navbar'
    .hidden-xs= yield :top_partner if content_for?(:top_partner)
    .hidden-xs
      %br/
    .visible-xs= render 'shared/mobile_navbar'
    .notice= render 'shared/notice'

    / CONTENT
    .container
      .row.hidden-xs= yield :secondary_navbar if content_for?(:secondary_navbar)
      = yield
    / CONTENT

    .hidden-xs= render 'shared/footer'
    .visible-xs= render 'shared/mobile_footer'
