!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "eZpoisk | #{yield(:title)}"
    %meta{:charset => "UTF-8"}/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ name: "google-site-verification", content: "aMlxCG3XekLdKIq1jjGJkMfb2M7mO4cKfDMhf4BUWhg" }
    %meta{ name: "msvalidate.01", content: "EAE9E1BC865C52CA068724F63495FF7B" }
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render "shared/feedback_modal"
    = render "shared/google_analytics"
    #wrap
      = render 'shared/navbar'
      = render 'shared/notice'

      .container
        = yield

      #push

      #footer.hidden-sm.hidden-xs
        = render 'shared/footer'
