!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1"}
    %title Chogde
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #wrap
      = render 'shared/navbar'
      = render 'shared/notice'
      .container
        .row
          .container
            .col-md-9
              .col-md-11
                / CONTENT
                = yield
                / CONTENT

            / PARTNERS
            .col-lg-3.col-md-3.hidden-sm.hidden-xs
              %img{ :src => "http://placehold.it/600x400", :class => "img-responsive center-block" }/
              %br/
              -# %img{ :src => "http://placehold.it/600x400", :class => "img-responsive center-block" }/
              -# %br/
              -# %img{ :src => "http://placehold.it/600x400", :class => "img-responsive center-block" }/
              -# %br/

      / required for sticky footer
      #push
    / wrap
    #footer.hidden-sm.hidden-xs
      = render 'shared/footer'
